<tc-card [align]="'center'" [padding]="'0'" class="height-right-menu rounded square scrollbar-dusty-grass square thin">
  <div class="animated fadeIn">
    <mat-tab-group mat-stretch-tabs #tasksgroup class="mat-elevation-z4">
      <mat-tab label="Home Feautures">
        <div class="container p-0">
          

            <div class="row p-3" *ngIf="homeInv">

              <div class="col-12 mb-3 p-0">
                <div class="text-left p-0">
                  <p class="title2"> Location </p>                  
                </div>
                <div class="text-left p-0">
                  <select class="custom-select rounded" placeholder="select" [(ngModel)]="locationSelected" name="locationSelected" (change)="changeLocation()" required>                    
                    <option [ngValue]="data.lotId" *ngFor="let data of locations">
                      {{data.location}}
                    </option>
                  </select>
                </div>
              </div>

              <div class="col-12 mb-3 p-0" *ngIf="showCatalogHomes">
                <div class="text-left p-0">
                  <p class="title2"> Catalog Homes </p>                  
                </div>
                <div class="text-left p-0">
                  <select class="custom-select rounded" placeholder="select" [(ngModel)]="catalogHomeSelected" name="catalogHomeSelected" required>                    
                    <option [ngValue]="catalog" *ngFor="let catalog of catalogHomes">{{catalog.manufacturer.shortName}} / {{catalog.name}} / {{catalog.nameId}} / {{catalog.year}}</option>
                  </select>
                </div>
              </div>    
              
              <div class="col-12 mb-3 p-0">
                <div class="text-left p-0">
                  <p class="title2"> Serial # </p>                  
                </div>
                <div class="text-left p-0 d-flex">
                  <input class="w-100 form-control mr-2" type="number" [(ngModel)]="homeInv.serialNum " name="serialNum " [maxLength]="'50'" autocomplete="off" required />
                  <span class="my-auto">-</span> 
                  <input class="w-100 form-control ml-2" type="number" [(ngModel)]="homeInv.serialNum2" name="serialNum2" [maxLength]="'50'" autocomplete="off"/>
                </div>
              </div>
             
              <div class="col-12 mb-3 p-0">
                <div class="text-left p-0">
                  <p class="title2"> HUD # </p>                  
                </div>
                <div class="text-left p-0 d-flex">
                  <input class="w-100 form-control mr-2" type="number" [(ngModel)]="homeInv.hudNum " name="hudNum " [maxLength]="'50'" autocomplete="off" required />
                  <span class="my-auto">-</span> 
                  <input class="w-100 form-control ml-2" type="number" [(ngModel)]="homeInv.hudNum2" name="hudNum2" [maxLength]="'50'" autocomplete="off"/>
                </div>
              </div>

              <div class="col-12 mb-3 p-0">
                <div class="text-left p-0">
                  <p class="title2"> Used Status </p>                  
                </div>
                <div class="text-left p-0">
                  <select class="custom-select rounded" placeholder="select" [(ngModel)]="homeInv.productInvUsedStatusId" name="productInvUsedStatusId" required>                    
                    <option [ngValue]="data.productInvUsedStatusId" *ngFor="let data of usedStatusList">{{data.name}}</option>
                  </select>
                </div>
              </div> 

              <div class="col-12 mb-3 p-0">
                <div class="text-left p-0">
                  <p class="title2"> Availability Status </p>                  
                </div>
                <div class="text-left p-0">
                  <select class="custom-select rounded" placeholder="select" [(ngModel)]="homeInv.productInvAvStatusId" name="productInvAvStatusId" required>                    
                    <option [ngValue]="data.productInvAvStatusId" *ngFor="let data of availableStatusList">{{data.name}}</option>
                  </select>
                </div>
              </div> 

              <div class="col-12 mb-3 p-0">
                <div class="text-left p-0">
                  <p class="title2"> Buying Price </p>                  
                </div>
                <div class="text-left p-0">
                  <number-format [format]="'money-USD'" (change)="setPrice($event.target.value)" [value]='homeInv.buyingPrice' required></number-format>                 
                </div>
              </div> 


              <div class="col-12 pt-3">
                <div class="row">
                  <button tc-button type="button" class="btn btn-outline-dark mr-2 rounded m-auto" (click)="save();">
                    <div class="d-flex">
                      <div class="aosp-ui-icon aosp-ui-save title"></div>Save
                    </div>
                  </button>
                </div> 
              </div>

          </div>

          <!-- <ng-container *ngIf="!homeInv">

            <a class="col-12 col-md-6 col-lg-6 col-xl-3 result-homes">
              <div class="position-relative mt-3 mx-3 mb-0">
  
                <img [src]="homeInv.iconUrl" alt="homeInv.name" style="width: auto; height: 257.3px; border-radius: 5%;" class="w-100 h-100" />
  
                <div class="bg-bottom bg-bottom-homes"></div>
                <div class="title-result-homes pb-3 px-2">
                  <div class="row pl-2 pr-3">
                    <div class="col">
                      <div class="title-bottom">{{homeInv.name}}</div>
                    </div>
                  </div>
                  <hr>
                  <div class="row">

                    <div class="col-4 home-result-feature text-left pr-0">
                      <div class="row">
                        <div class="col-6 p-1">
                          <div class="home-sqm-icon m-auto" style="height: 30px;"></div>
                        </div>
                        <div class="col-6 p-0">
                          <div class="" style="font-size: 12px;">Sq ft</div>
                          <div class="" style="font-size: 14px;">{{homeInv.sqft}}</div>
                        </div>
                      </div>                    
                    </div>

                    <div class="col-4 home-result-feature text-left pr-0 pl-3">
                      <div class="row">
                        <div class="col-6 p-1">
                          <div class="home-beds-icon m-auto" style="height: 30px;"></div>
                        </div>
                        <div class="col-6">
                          <div class="" style="font-size: 12px;">Bed</div>
                          <div class="" style="font-size: 14px;">{{homeInv.bed}}</div>
                        </div>
                      </div>                    
                    </div>

                    <div class="col-4 home-result-feature text-left pr-0 pl-3">
                      <div class="row">
                        <div class="col-6 p-1">
                          <div class="home-baths-icon m-auto" style="height: 30px;"></div>
                        </div>
                        <div class="col-6 p-0">
                          <div class="" style="font-size: 12px;">Bath</div>
                          <div class="" style="font-size: 14px;">{{homeInv.bath}}</div>
                        </div>
                      </div>                    
                    </div>                   
                  </div>
                </div>
              </div>
            </a>
  
            <div class="p-3 w-100 row m-0">
              <div class="col-6 w-100">
                <button class="mainBtn w-100" (click)="showModal(homeInv._3dTourUrl, true)">
                  <div class="d-flex">VIRTUAL TOUR</div>
                </button>              
              </div>
              <div class="col-6 w-100">
                <button class="mainBtn w-100" (click)="showModal(homeInv.floorplanUrl, false)">  
                  <div class="d-flex">FLOORPLAN</div>
                </button>              
              </div>        
            </div>
          </ng-container> -->

          <!-- Details -->
          <div class="col-12" *ngIf="homeInv">
            <table style="border: transparent" class="table table-bordered table-striped animated fadeIn b-0 mb-0">
              <thead>
                <tr>
                  <td scope="col" class="remove_all_lines text-left text-nowrap" style="font-size:16px;color:#eae5eb">Home Details</td>
                </tr>
              </thead>
              <tbody>
                <tr class="animated fadeIn">    
                  <td width="" class="remove_all_lines text-left py-1">Make:</td>
                  <td width="" class="remove_all_lines text-left py-1">{{homeInv.manufacturer.shortName}}</td>
                </tr>
    
                <tr class="animated fadeIn">    
                  <td width="" class="remove_all_lines text-left py-1">Model:</td>
                  <td width="" class="remove_all_lines text-left py-1">{{homeInv.name}} {{homeInv.nameId}}</td>
                </tr>
    
                <tr class="animated fadeIn">    
                  <td width="" class="remove_all_lines text-left py-1">Year:</td>
                  <td width="" class="remove_all_lines text-left py-1">{{homeInv.year}}</td>
                </tr>
    
                <tr class="animated fadeIn">    
                  <td width="" class="remove_all_lines text-left py-1">Serial#:</td>
                  <td width="" class="remove_all_lines text-left py-1">{{homeInv.serialNum}} - {{homeInv.serialNum2}}</td>
                </tr>
    
                <tr class="animated fadeIn">    
                  <td width="" class="remove_all_lines text-left py-1">HUD#:</td>
                  <td width="" class="remove_all_lines text-left py-1">{{homeInv.hudNum}} - {{homeInv.hudNum2}}</td>
                </tr>
    
                <tr class="animated fadeIn">    
                  <td width="" class="remove_all_lines text-left py-1">Location:</td>
                  <td width="" class="remove_all_lines text-left py-1">{{homeInv.storeName}}</td>
                </tr>
    
                <tr class="animated fadeIn">    
                  <td width="" class="remove_all_lines text-left py-1">Status:</td>
                  <td width="" class="remove_all_lines text-left py-1">{{homeInv.productStatus.statusName}}</td>
                </tr>
                <tr class="animated fadeIn">    
                  <td width="" class="remove_all_lines text-left py-1">Est. Offline:</td>
                  <td width="" class="remove_all_lines text-left py-1">{{homeInv.estOffline}}</td>
                </tr>
                <tr class="animated fadeIn">    
                  <td width="" class="remove_all_lines text-left py-1">Date Built:</td>
                  <td width="" class="remove_all_lines text-left py-1">0</td>
                </tr>
                <tr class="animated fadeIn">    
                  <td width="" class="remove_all_lines text-left py-1">Box Size:</td>
                  <td width="" class="remove_all_lines text-left py-1">{{homeInv.boxLong}} x {{homeInv.boxWide}}</td>
                </tr>
                <tr class="animated fadeIn">    
                  <td width="" class="remove_all_lines text-left py-1">Box Size2:</td>
                  <td width="" class="remove_all_lines text-left py-1">{{homeInv.boxLong2}} x {{homeInv.boxWide2}}</td>
                </tr>
                <tr class="animated fadeIn">    
                  <td width="" class="remove_all_lines text-left py-1">Sq Ft:</td>
                  <td width="" class="remove_all_lines text-left py-1">{{homeInv.sqft}}</td>
                </tr>
                <tr class="animated fadeIn">    
                  <td width="" class="remove_all_lines text-left py-1">Bed:</td>
                  <td width="" class="remove_all_lines text-left py-1">{{homeInv.bed}}</td>
                </tr>
                <tr class="animated fadeIn">    
                  <td width="" class="remove_all_lines text-left py-1">Bath:</td>
                  <td width="" class="remove_all_lines text-left py-1">{{homeInv.bath}}</td>
                </tr>
                <tr class="animated fadeIn">    
                  <td width="" class="remove_all_lines text-left py-1">W. Zone:</td>
                  <td width="" class="remove_all_lines text-left py-1">{{homeInv.windZone}}</td>
                </tr>
                <tr class="animated fadeIn">    
                  <td width="" class="remove_all_lines text-left py-1">Lbs:</td>
                  <td width="" class="remove_all_lines text-left py-1">0</td>
                </tr>
                <tr class="animated fadeIn">    
                  <td width="" class="remove_all_lines text-left py-1">Floor R.Values:</td>
                  <td width="" class="remove_all_lines text-left py-1">0</td>
                </tr>
                <tr class="animated fadeIn">    
                  <td width="" class="remove_all_lines text-left py-1">Walls R.Values:</td>
                  <td width="" class="remove_all_lines text-left py-1">0</td>
                </tr>
                <tr class="animated fadeIn">    
                  <td width="" class="remove_all_lines text-left py-1">Ceiling R.Values:</td>
                  <td width="" class="remove_all_lines text-left py-1">0</td>
                </tr>
                <tr class="animated fadeIn">    
                  <td width="" class="remove_all_lines text-left py-1">Floor Thickness:</td>
                  <td width="" class="remove_all_lines text-left py-1">0</td>
                </tr>
                <tr class="animated fadeIn">    
                  <td width="" class="remove_all_lines text-left py-1">Ceilling Thickness:</td>
                  <td width="" class="remove_all_lines text-left py-1">0</td>
                </tr>
               
              </tbody>
            </table>
          </div>

          <hr style="width: 90% !important"> 

          <!-- Total Price -->
          <div class="col-12" *ngIf="homeInv">
            <table style="border: transparent" class="table table-bordered table-striped animated fadeIn b-0 mb-3"> 
                          
              <tbody>                    
                <tr class="animated fadeIn">
    
                  <td width="" class="remove_all_lines text-left py-0" style="vertical-align: middle;">Sales Price:</td>
                  <td width="" class="remove_all_lines text-right py-0" style="font-size: 28px;">{{homeInv.price | currency}}</td>
                </tr>
    
              </tbody>
            </table>
          </div>                            
        </div>
      </mat-tab>
      <mat-tab label="Documentation">
        <div class="container p-0">
          
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</tc-card>
