.text-title {
    color: var(--color-default-font) !important;
    cursor: pointer;
}


.borderTittle-table {
  border-bottom: 2px solid #68b7f6 !important;
}

.table td, .table th {
  padding: .75rem;
  vertical-align: inherit !important;
  border-top: 1px solid #dee2e6;
}
