<div class="row h-100">
  <div class="col-12 my-auto">
    <div class="row">
      <div class="col col text-center">
        <img src="/assets/img/AOSP/no-rights.svg" class="m-auto" alt="No rights">
      </div>
    </div>
    <div class="row mt-4">
      <h1 class="col col text-center">
        We are sorry!
      </h1>
    </div>
    <div class="row mt-4">
      <div class="col"></div>
      <h2 class="col-6 col text-center">
        Unfortunately, you don't have enough access privileges to see this information. Please click the button below to
        go back to your main dashboard.
      </h2>
      <div class="col"></div>
    </div>
    <div class="row mt-4">
      <div class="col"></div>
      <div class="col-6 col text-center">
        <button type="button" class="btn rounded btn-default float-none" [routerLink]="['/dashboard']">
          <div class="d-flex">
            <div class="aosp-ui-icon aosp-ui-save title"></div>BACK TO DASHBOARD
          </div>
        </button>
      </div>
      <div class="col"></div>
    </div>
  </div>
</div>
