[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
    background: #0c1d55;
    color: #60aeef;
}

.text-nowrap {
    color: #5ba6e6 !important;
    text-align: center;
    font-size: 14px !important;
}

::ng-deep .cal-week-view .cal-day-headers .cal-header {
    flex: 1;
    text-align: center;
    padding: 14px;
}

.label-center {
    width: 100%; 
    height: 40px; 
    position: absolute; 
    top: 50%; 
    left: 0; 
    margin-top: -20px; 
    line-height:19px; 
    text-align: center; 
    z-index: 999999999999999; 
}

.graph-container {
    width: 100%; 
    height: 100%; 
    float: left; 
    position: relative;
}

.date.d-flex {
  height:36px !important;
}
