<tc-card [title]="tilte + ' Manufacturer'" [align]="'center'" [padding]="'0'" class="height-right-menu rounded square scrollbar-dusty-grass square thin">

  <form #f="ngForm" id="leccionForma" class="form PrintArea" [ngClass]="{'was-validated': wasValidated}" novalidate *ngIf="data">
    <div class="row">      
        <div class="col-12 pl-3 pr-3 mb-3">
          <div>
            <div style="display: flex;">
              <p class="title2"> Manufacturer </p>
              <div class="ml-1 tc-icon-wrap aosp-ui-hints" data-toggle="tooltip"
                data-placement="right" [title]="'Manufacturer'"></div>
            </div>
            <input 
              class="w-100 form-control" 
              type="text"
              [(ngModel)]="data.name"
              name="name"                
              [maxLength]="'200'"
              autocomplete="off"
              required />
            <div class="invalid-feedback">It's required!</div>
          </div>
        </div>

        <div class="col-12 pl-3 pr-3 mb-3">
          <div>
            <div style="display: flex;">
              <p class="title2"> Short Name </p>
              <div class="ml-1 tc-icon-wrap aosp-ui-hints" data-toggle="tooltip"
                data-placement="right" [title]="'Short Name'"></div>
            </div>
            <input 
              class="w-100 form-control" 
              type="text"
              [(ngModel)]="data.shortName"
              name="shortName"                
              [maxLength]="'200'"
              autocomplete="off"
              required />
            <div class="invalid-feedback">It's required!</div>
          </div>
        </div>

        <div class="col-12 pl-3 pr-3 mb-3">
          <div>
            <div style="display: flex;">
              <p class="title2"> Main Address </p>
              <div class="ml-1 tc-icon-wrap aosp-ui-hints" data-toggle="tooltip"
                data-placement="right" [title]="'Main Address'"></div>
            </div>
            <input 
              class="w-100 form-control" 
              type="text"
              [(ngModel)]="data.mainAddress"
              name="mainAddress"                
              [maxLength]="'200'"
              autocomplete="off"
              required />
            <div class="invalid-feedback">It's required!</div>
          </div>
        </div>

        <div class="col-12 pl-3 pr-3 mb-3">
          <div>
            <div style="display: flex;">
              <p class="title2"> Main City </p>
              <div class="ml-1 tc-icon-wrap aosp-ui-hints" data-toggle="tooltip"
                data-placement="right" [title]="'Main City'"></div>
            </div>
            <input 
              class="w-100 form-control" 
              type="text"
              [(ngModel)]="data.mainCity"
              name="mainCity"                
              [maxLength]="'200'"
              autocomplete="off"
              required />
            <div class="invalid-feedback">It's required!</div>
          </div>
        </div>

        <div class="col-12 pl-3 pr-3 mb-3">
          <div>
            <div style="display: flex;">
              <p class="title2"> Main State </p>
              <div class="ml-1 tc-icon-wrap aosp-ui-hints" data-toggle="tooltip"
                data-placement="right" [title]="'Main State'"></div>
            </div>
            <input 
              class="w-100 form-control" 
              type="text"
              [(ngModel)]="data.mainState"
              name="mainState"                
              [maxLength]="'200'"
              autocomplete="off"
              required />
            <div class="invalid-feedback">It's required!</div>
          </div>
        </div>

        <div class="col-12 pl-3 pr-3 mb-3">
          <div>
            <div style="display: flex;">
              <p class="title2"> Main Zip </p>
              <div class="ml-1 tc-icon-wrap aosp-ui-hints" data-toggle="tooltip"
                data-placement="right" [title]="'Main Zip'"></div>
            </div>
            <input 
              class="w-100 form-control" 
              type="text"
              [(ngModel)]="data.mainZip"
              name="mainZip"                
              [maxLength]="'200'"
              autocomplete="off"
              required />
            <div class="invalid-feedback">It's required!</div>
          </div>
        </div>

      <div class="col-12 py-1 px-5">
        <button tc-button type="button" class="btn btn-outline-dark mr-2 rounded" (click)="cancel()">
          <div class="d-flex">
            <div class="aosp-ui-icon aosp-ui-cancel title"></div>Cancel
          </div>
        </button>
        <button tc-button type="button" class="btn btn-outline-dark mr-2 rounded" (click)="save()">
          <div class="d-flex">
            <div class="aosp-ui-icon aosp-ui-save title"></div>Save
          </div>
        </button>
      </div>
    </div>

    <br>
  </form>

</tc-card>
