

<div class="col-12 col-xl-12 col-md-12 col-lg-12 m-auto p-2">
  <div class="row my-4">



    <div class="col-12 col-md-12 col-lg-4 col-xl-3 p-4 m-auto backgroundWidgets boxShadowWidget">
      <app-leads-widget></app-leads-widget>
    </div>

    <div class="col-12 col-md-12 col-lg-4 col-xl-3 p-4 m-auto backgroundWidgets boxShadowWidget">
      <app-pending-task></app-pending-task>
    </div>

    <div class="col-12 col-md-12 col-lg-4 col-xl-3 p-4 m-auto backgroundWidgets boxShadowWidget">
      <app-total-closings></app-total-closings>
    </div>

    <div class="col-12 col-md-12 col-lg-4 col-xl-3 p-4 m-auto backgroundWidgets boxShadowWidget">
      <app-pending-deliveries></app-pending-deliveries>
    </div>




    <!--Para el otro rol los widget-->
    <!--<div class="col-12 col-md-12 col-lg-4 col-xl-3 p-4 m-auto backgroundWidgets">
    <app-pending-deliveries></app-pending-deliveries>
  </div>
  <div class="col-12 col-md-12 col-lg-4 col-xl-3 p-4 m-auto backgroundWidgets">
    <app-pending-task></app-pending-task>
  </div>
  <div class="col-12 col-md-12 col-lg-4 col-xl-3 p-4 m-auto backgroundWidgets">
    <app-deals></app-deals>
  </div>
  <div class="col-12 col-md-12 col-lg-4 col-xl-3 p-4 m-auto backgroundWidgets">
    <app-closing></app-closing>
  </div>-->

  </div>
  </div>


