

.scroll {
	position: relative;
	overflow-y: scroll;
	max-height: 320px;
}

tbody, tr { 
    display: block; 
}

tbody {
    height: 320px;
    overflow-y: auto;
    overflow-x: hidden;
}

tbody, tr { display: block; }

tbody {
    height: 320px;
    overflow-y: auto;
    overflow-x: hidden;
}

th, td {
	padding: 5px;		
}

thead tr {
    width: 99%;
}

.text-title {
	color: #5aaef3;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.67;
	letter-spacing: normal;
	text-align: left;
	color: #5aaef3;
}

tbody td, thead th {
    width: 1%;     
}

.task {
	min-width: 250px;
}
.date {
	min-width: 110px;
}
.actions {
	min-width: 60px;
}

.due-label {
	color: #bd2536 !important;
    font-size: 14px;
    font-family: Roboto;
    font-weight: 500;
}

.task-description {
  color: $task-description !important;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color:transparent !important;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  padding: 2px;
  border:none !important;
}
