<tc-card [title]="tilte + ' Dealership'" [align]="'center'" [padding]="'0'" class="height-right-menu rounded square scrollbar-dusty-grass square thin">

  <form #f="ngForm" id="leccionForma" class="form PrintArea" [ngClass]="{'was-validated': wasValidated}" novalidate *ngIf="data">
    <div class="row">      
        <div class="col-12 pl-3 pr-3 mb-3">
          <div>
            <div style="display: flex;">
              <p class="title2"> Dealer </p>
              <div class="ml-1 tc-icon-wrap aosp-ui-hints" data-toggle="tooltip"
                data-placement="right" [title]="'Dealership'"></div>
            </div>
            <input 
              class="w-100 form-control" 
              type="text"
              [(ngModel)]="data.name"
              name="name"                
              [maxLength]="'200'"
              autocomplete="off"
              required />
            <div class="invalid-feedback">It's required!</div>
          </div>
        </div>

        <div class="col-12 pl-3 pr-3 mb-3">
          <div>
            <div style="display: flex;">
              <p class="title2"> Address </p>
              <div class="ml-1 tc-icon-wrap aosp-ui-hints" data-toggle="tooltip"
                data-placement="right" [title]="'Address'"></div>
            </div>
            <input 
              class="w-100 form-control" 
              type="text"   
              [(ngModel)]="data.address"
              name="address"                
              [maxLength]="'200'"
              autocomplete="off"
              required />
            <div class="invalid-feedback">It's required!</div>
          </div>
        </div>

        <div class="col-12 pl-3 pr-3 mb-3">
          <div>
            <div style="display: flex;">
              <p class="title2"> City </p>
              <div class="ml-1 tc-icon-wrap aosp-ui-hints" data-toggle="tooltip"
                data-placement="right" [title]="'City'"></div>
            </div>
            <input 
              class="w-100 form-control" 
              type="text"   
              [(ngModel)]="data.city"
              name="city"                
              [maxLength]="'200'"
              autocomplete="off"
              required />
            <div class="invalid-feedback">It's required!</div>
          </div>
        </div>

        <div class="col-12 pl-3 pr-3 mb-3">
          <div>
            <div style="display: flex;">
              <p class="title2"> State </p>
              <div class="ml-1 tc-icon-wrap aosp-ui-hints" data-toggle="tooltip"
                data-placement="right" [title]="'State'"></div>
            </div>
            <input 
              class="w-100 form-control" 
              type="text"   
              [(ngModel)]="data.state"
              name="state"                
              [maxLength]="'200'"
              autocomplete="off"
              required />
            <div class="invalid-feedback">It's required!</div>
          </div>
        </div>

        <div class="col-12 pl-3 pr-3 mb-3">
          <div>
            <div style="display: flex;">
              <p class="title2"> County </p>
              <div class="ml-1 tc-icon-wrap aosp-ui-hints" data-toggle="tooltip"
                data-placement="right" [title]="'County'"></div>
            </div>
            <input 
              class="w-100 form-control" 
              type="text"   
              [(ngModel)]="data.county"
              name="county"                
              [maxLength]="'200'"
              autocomplete="off"
              required />
            <div class="invalid-feedback">It's required!</div>
          </div>
        </div>

        <div class="col-12 pl-3 pr-3 mb-3">
          <div>
            <div style="display: flex;">
              <p class="title2"> Zip Code </p>
              <div class="ml-1 tc-icon-wrap aosp-ui-hints" data-toggle="tooltip"
                data-placement="right" [title]="'Zip Code'"></div>
            </div>
            <input 
              class="w-100 form-control" 
              type="text"   
              [(ngModel)]="data.zip"
              name="zip"                
              [maxLength]="'200'"
              autocomplete="off"
              required />
            <div class="invalid-feedback">It's required!</div>
          </div>
        </div>

        <div class="col-12 pl-3 pr-3 mb-3">
          <div>
            <div style="display: flex;">
              <p class="title2"> Phone Number </p>
              <div class="ml-1 tc-icon-wrap aosp-ui-hints" data-toggle="tooltip"
                data-placement="right" [title]="'Phone Number'"></div>
            </div>
            <number-format               
              [format]="'phoneNumber'" 
              [value]="data.phoneNumber" 
              (changeValue)="changePhoneNumber($event)"
              name="phoneNumber" 
              class="w-100 form-control" 
              required
            ></number-format>            
            <div class="invalid-feedback">It's required!</div>
          </div>
        </div>

        <div class="col-12 pl-3 pr-3 mb-3">
          <div>
            <div style="display: flex;">
              <p class="title2"> Fax </p>
              <div class="ml-1 tc-icon-wrap aosp-ui-hints" data-toggle="tooltip"
                data-placement="right" [title]="'Fax'"></div>
            </div>
            <input 
              class="w-100 form-control" 
              type="text"   
              [(ngModel)]="data.fax"
              name="fax"                
              [maxLength]="'200'"
              autocomplete="off"
              required />
            <div class="invalid-feedback">It's required!</div>
          </div>
        </div>

        <div class="col-12 pl-3 pr-3 mb-3">
          <div>
            <div style="display: flex;">
              <p class="title2"> License </p>
              <div class="ml-1 tc-icon-wrap aosp-ui-hints" data-toggle="tooltip"
                data-placement="right" [title]="'License'"></div>
            </div>
            <input 
              class="w-100 form-control" 
              type="text"   
              [(ngModel)]="data.license"
              name="license"                
              [maxLength]="'200'"
              autocomplete="off"
              required />
            <div class="invalid-feedback">It's required!</div>
          </div>
        </div>

      <div class="col-12 py-1 px-5">
        <button tc-button type="button" class="btn btn-outline-dark mr-2 rounded" (click)="cancel()">
          <div class="d-flex">
            <div class="aosp-ui-icon aosp-ui-cancel title"></div>Cancel
          </div>
        </button>
        <button tc-button type="button" class="btn btn-outline-dark mr-2 rounded" (click)="save()">
          <div class="d-flex">
            <div class="aosp-ui-icon aosp-ui-save title"></div>Save
          </div>
        </button>
      </div>
    </div>

    <br>
  </form>

</tc-card>
