

.forms-configuration {
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;

}

.btn.btn-outline-dark.rounded.addForm {
  width: 174px;
}


.table td, .table th {
  padding: .75rem;
  vertical-align: inherit;

}

.listaForm {
  padding-left: 1rem !important;
  max-height: 700px;
  overflow-y: scroll;
  min-height: 200px;
}

.alert.alert-warning {
  background:$alert-warning !important;
}

.fa.fa-spinner.fa-spin.fa-3x {
  color: #0d5fa1 !important;
}

.spinnerText {
  color: #0d5fa1 !important;
}

.scroll {
  height: 700px;
  overflow-y: auto;
}

.aosp-ui-delete-md {
  background-image: url("/assets/img/AOSP/delete_icon.svg");
  background-size: 20px;
  background-position: center;
  position: relative;
  width: 24px !important;
  min-height: 34px !important;
}

.borderTittle-table {
  border-bottom: 2px solid #68b7f6 !important;
}


