

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
  cursor: pointer;
  background: #0c1d55;
  color: #60aeef;
}

.text-nowrap {
  color: #5ba6e6 !important;
  text-align: center;
  font-size: 14px !important;
}

::ng-deep .cal-week-view .cal-day-headers .cal-header {
  flex: 1;
  text-align: center;
  padding: 14px;
}

.chartjs-render-monitor {
  animation: chartjs-render-animation 0.001s;
  background: $graph-Appointments;
  height: 400px !important;
  width: 820px !important;
}

.fa.fa-spinner.fa-spin.fa-3x {
  color: #0d5fa1 !important;
}

.spinnerText {
  color: #0d5fa1 !important;
}
