
<div class="row w-100  m-0 menuTitle3Div animated fadeIn px-0" *ngIf="!cargando">
  <div class="col-2 col-xl-4 col-lg-5 col-md-2">
    <div class="title2 t-3 mx-3">Appointments</div>
  </div>

  <div class="row animated fadeIn" *ngIf="cargando">
    <div class="col-sm-12">
      <div class="alert alert-warning text-center">
        <br>
        <i class="fa fa-spinner fa-spin fa-3x"></i>
        <br>
        <strong class="spinnerText">Loading</strong>
      </div>
    </div>
  </div>

  <div class="col-6 col-xl-3 col-lg-4 col-md-3 text-right pr-0">
    <select class="form-control font-filtro rounded" [(ngModel)]="teamMemberSelected" name="teamMemberSelected"
            (change)="getCount()" placeholder="select">
      <option [ngValue]="null"> All </option>
      <option [ngValue]="null" style="display:none;"> Team Member </option>
      <option [ngValue]="employee.employeeId" *ngFor="let employee of teamMembers">{{employee.name}}</option>
    </select>
  </div>

  <div class="col-6 col-md-4 col-xl-5 date d-flex">
    <button tc-button mwlCalendarPreviousView class="btn btn-outline-dark rounded" [outline]="false" [view]="view"
            [(viewDate)]="viewDate" [beforeIcon]="'icofont-rounded-left'" (viewDateChange)="activeDayIsOpen = false" (click)="calculateDateRange()">
    </button>

    <h3 class="m-0 pt-1 pb-0 text-nowrap">{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>

    <button tc-button mwlCalendarNextView class="btn btn-outline-dark rounded" [outline]="false" [view]="view"
            [(viewDate)]="viewDate" [afterIcon]="'icofont-rounded-right'" (viewDateChange)="activeDayIsOpen = false" (click)="calculateDateRange()">
    </button>
  </div>
</div>

<div class="pl-2 mt-1 w-100" >
  <canvas id="speedChart" width="100%"></canvas>
</div>
