<div class="row w-100 m-0 menuTitle3Div animated fadeIn">
  <div class="col">
    <div class="title2 t-3">Inventory</div>
  </div>

  <div class="col-4 col-xl-3 text-right mr-2 pr-0 inner-addon right-addon d-flex">   
    <input type="text" class="form-control input-search" aria-label="Number" matInput (keyup.enter)="onKeyUp(wordsFilter)" [(ngModel)]="wordsFilter" placeholder="Search">    
    <button type="button" class="btn-search" (click)="onKeyUp(wordsFilter)"><i class="fa fa-search"></i></button>    
  </div>

  <button tc-button type="button" class="btn btn-outline-dark rounded" (click)="addStockHome()">
    <div class="d-flex">
      <div class="mr-2">+</div>add Stock Home
    </div>
  </button>
</div>

<div class="row animated fadeIn px-3" *ngIf="cargando">

  <div class="col-sm-12">

    <div class="alert alert-warning text-center">
      <br>
      <i class="fa fa-spinner fa-spin fa-3x"></i>
      <br>
      <strong class="spinnerText">Loading</strong>
    </div>
  </div>
</div>

<div class="pl-3 pr-3" *ngIf="!cargando">
  <div class="table-responsive pr-2 pl-2 bg-aosp-info rounded scroll square scrollbar-dusty-grass square thin">
    <table class="table table-bordered table-striped animated fadeIn b-0 mb-0">
      <thead>
        <tr>

          <td scope="col" class="text-center text-nowrap">Location</td>
          <td scope="col" class="text-center text-nowrap">Make</td>
          <td scope="col" class="text-center text-nowrap">Model</td>
          <td scope="col" class="text-center text-nowrap">Serial #</td>
          <td scope="col" class="text-center text-nowrap">HUD #</td>
          <td scope="col" class="text-center text-nowrap">Box Size</td>
          <td scope="col" class="text-center text-nowrap">Sq Ft</td>
          <td scope="col" class="text-center text-nowrap">Bed</td>
          <td scope="col" class="text-center text-nowrap">Bath</td>
          <td scope="col" class="text-center text-nowrap">W.Zone</td>
          <td scope="col" class="text-center text-nowrap">MSRP Price</td>
          <td scope="col" class="text-center text-nowrap">Status</td>
          <td scope="col" class="text-center text-nowrap">Est. Offine</td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of inventory;" class="animated fadeIn">

          <td width="" class="remove_lines text-center">{{product.productLot?.lot.storage.store.name}} - {{product.productLot?.lot.storage.name}} {{product.productLot?.lot.lotNameId}}</td>
          <td width="" class="remove_lines text-center">{{product.manufacturer.shortName}}</td>
          <td width="" class="remove_lines text-center">{{product.name}}</td>
          <td width="" class="remove_lines text-center">{{product.serialNum}}</td>
          <td width="" class="remove_lines text-center">{{product.hudNum}}</td>
          <td width="" class="remove_lines text-center">{{product.boxLong}}X{{product.boxWide}}</td>
          <td width="" class="remove_lines text-center">{{product.sqft}}</td>
          <td width="" class="remove_lines text-center">{{product.bed}}</td>
          <td width="" class="remove_lines text-center">{{product.bath}}</td>
          <td width="" class="remove_lines text-center">{{product.windZone}}</td>
          <td width="" class="remove_lines text-center">$ {{product.price}}</td>
          <td width="100" class="remove_lines text-center">
            <div>
                 <tc-badge class="w-100" [size]="'md'" [view]="pipeStatus(product.productInvAvStatus.name)">
              <span class="nowrap">{{product.productInvUsedStatus.name}} / {{product.productInvAvStatus.name}}</span></tc-badge>
            </div>

          </td>
          <td width="" class="remove_lines text-center">{{product.estOffline | date:'MM/dd/y'}}</td>          
          <td width="50" class="remove_lines text-center">
            <div class="d-flex">
              <button tc-button type="button" class="btn btn-outline-dark p-0 rounded ml-2" (click)="seeDetail(product)">
                <div class="aosp-ui-icon aosp-ui-edit-md"></div>
              </button>
            </div>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
  <div class="d-flex justify-content-between mt-3">
    <ngbd-pagination-advanced [totalItems]='totalPages' [page]="currentPage" (pageChanged)="changePage($event)"></ngbd-pagination-advanced>

    <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (change)="changePageSize()">
      <option [ngValue]="5">5 items per page</option>
      <option [ngValue]="10">10 items per page</option>
      <option [ngValue]="50">50 items per page</option>
    </select>
  </div>

</div>
