<div class="col-12 col-xl-12 col-md-12 col-lg-12 p-0">

  <div class="row">
    <div class="col-12 col-md-12 col-lg-4 col-xl-4">
      <div class="titleText text-center my-4">
        2018 Short Porch
      </div>
      <ng-container>
        <a class="col-12 col-md-6 col-lg-6 col-xl-3 result-homes">
          <div class="position-relative" style="margin-top:-40px">

            <img src="\assets\img\home1.png" style="width: auto; height:257.3px;" class="w-100 h-100" />

            <div class="bg-bottom"></div>
            <div class="title-result-homes pb-3">
              <div class="row pl-2 pr-3">
                <div class="col">
                  <div class="title-bottom">fdsgdfgdfg</div>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-4 home-result-feature text-left pr-0">
                  <div class="home-sqm-icon">15154</div>
                  Square Feet
                </div>
                <div class="col-4 home-result-feature text-center pr-0">
                  <div class="home-beds-icon m-auto">2</div>
                  Beedrooms
                </div>
                <div class="col-4 home-result-feature text-right pr-0">
                  <div class="position-right">
                    <div class="home-baths-icon mx-4"></div>
                    <div class="">Bathrooms</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </ng-container>
      <div class="row my-3">
        <div class="col-xl-6">
          <button type="button" class="homeBtn btn btn-primary">VIRTUAL TOUR</button>
        </div>
        <div class="col-xl-6">
          <button type="button" class="homeBtn btn btn-primary">FLOORPLAN</button>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-12 col-lg-4 col-xl-4 pr-0">
      <div>
        <div class="titleText text-left" style="color:#eae5eb">
          Home Details
        </div>
        <div class="text-left">
          <h3 class="subitulo">Location</h3>
          <p class="parrafo">Pearland-South Entrance</p>
        </div>


        <div>
          <h3 class="subitulo">Base Price</h3>
          <p class="parrafo">$ 47,829</p>
        </div>


        <div>
          <h3 class="subitulo">Details</h3>
          <p class="parrafo">
            Textured and painted drywall interiors, cathedral ceilings throughout, custom designed cabinetry,
            beautiful countertops and tile backsplashes,
            fiberglass tub/showers
          </p>
        </div>

        <div class="row rounded square scrollbar-dusty-grass square thin scroll
                                 height-atts" style="height: auto; overflow: auto; overflow-x: hidden;">
          <h3 class="subitulo my2">Add-Ons</h3>
          <p class="parrafo">
            Kitchen Countertop
          </p>
          <p class="parrafo">
            Appliances
          </p>
          <p class="parrafo">
            Kitchen Countertop
          </p>
          <p class="parrafo">
            Appliances
          </p>
          <p class="parrafo">
            Kitchen Countertop
          </p>
          <p class="parrafo">
            Appliances
          </p>
          <p class="parrafo">
            Kitchen Countertop
          </p>
          <p class="parrafo">
            Appliances
          </p>
        </div>

      </div>
    </div>


    <div class="col-12 col-md-12 col-lg-4 col-xl-4 pr-0">
      <table class="table animated fadeIn b-0 mb-0">
        <thead>
          <tr>
            <td scope="col" class="text-left text-nowrap" style="font-size:16px;color:#eae5eb">Princing</td>
          </tr>
        </thead>
        <tbody>
          <tr class="animated fadeIn">

            <td width="" class="remove_line text-left">Sales Price</td>
            <td width="" class="remove_lines text-left">$ 64,990.00</td>
          </tr>

          <tr class="animated fadeIn">

            <td width="" class="remove_line text-left">Add-Ons</td>
            <td width="" class="remove_lines text-left">$ 64,990.00</td>
          </tr>

          <tr class="animated fadeIn">

            <td width="" class="remove_line text-left">Total Price</td>
            <td width="" class="remove_lines text-left">$ 64,990.00</td>
          </tr>

          <tr class="animated fadeIn">

            <td width="" class="remove_line text-left">Form T</td>
            <td width="" class="remove_lines text-left">$ 64,990.00</td>
          </tr>

          <tr class="animated fadeIn">

            <td width="" class="remove_line text-left">Make Ready</td>
            <td width="" class="remove_lines text-left">$ 64,990.00</td>
          </tr>

          <tr class="animated fadeIn">

            <td width="" class="remove_line text-left">Title Fees</td>
            <td width="" class="remove_lines text-left">$ 64,990.00</td>
          </tr>

          <tr class="animated fadeIn">

            <td width="" class="remove_line text-left">MHIT</td>
            <td width="" class="remove_lines text-left">$ 64,990.00</td>
          </tr>

          <tr class="animated fadeIn">

            <td width="" class="remove_line text-left">1sr Yr. Ins. Premium</td>
          </tr>
          <tr class="animated fadeIn">

            <td width="" class="remove_line text-left">Flood Valuation</td>
          </tr>
          <tr class="animated fadeIn">

            <td width="" class="remove_line text-left">Home Valuation</td>
          </tr>
          <tr class="animated fadeIn">

            <td width="" class="remove_line text-left">Land</td>
          </tr>

          <hr />

          <tr class="animated fadeIn">

            <td width="" class="remove_line text-left">Total Price</td>
            <td width="" class="remove_lines text-left">$ 64,990.00</td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>

</div>
