



.fa.fa-spinner.fa-spin.fa-3x {
  color: #0d5fa1 !important;
}

.spinnerText {
  color: #0d5fa1 !important;
}

.borderTittle-table {
  border-bottom:2px solid #68b7f6 !important;
}


.model {
  cursor: pointer !important;
  color: #66b3f3 !important;
  font-weight:500;
}
