

  <div class="row animated fadeIn" *ngIf="cargando">

    <div class="col-sm-12">

      <div class="alert alert-warning text-center">
        <br>
        <i class="fa fa-spinner fa-spin fa-3x"></i>
        <br>
        <strong class="spinnerText">Loading</strong>
      </div>
    </div>
  </div>

<div class="financing-grid rounded text-center" *ngIf="!cargando" style="height: 120px;">
  <h2>{{countlead}}</h2>
  <h3 style="font-size:22px; padding:0; margin-top:-15px">Closings Targeted</h3>
  <p style="margin-top: -10px">This Week</p>

  <mat-tab-group animationDuration="250ms" style="margin-top: -8%;">
    <mat-tab *ngFor="let lead of closing;">
      <ng-template mat-tab-label>
        <span (click)="countLeads(lead.count)">{{lead.leadStatus.shortStatus}}</span>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
