<div class="m-0 p-3">
  <!-- Wizard -->
  <div class="row w-100 pl-4 pr-4 pt-2">
    <steps [steps]="wizardGroups" class="w-100"></steps>
  </div>

  <!-- Custumer Info -->
  <div class="row mb-4">
    <div class="col-12 col-md-9 d-flex">
      <div class="title" *ngIf="lead">{{lead.mainCustomer.name + ' ' + lead.mainCustomer.lastname}}</div>
      <label class="defaultTag ml-3"
        [ngClass]="{'alertTag': lead.leadStatus.color==='warning', 'errorTag': lead.leadStatus.color==='error'}"
        *ngIf="lead">{{lead.leadStatus.status}}</label>
    </div>
  </div>

  <!-- Custumer Info -->
  <div class="row mb-0">
    <div class="col-12 col-md-9 p-0">
      <div class="row w-100">
        <!-- Sales Representative -->
        <div class="col-6 col-sm-3">
          <p class="title2">Home Consultant</p>
          <select class="w-100 form-control form-control-line animated fadeIn"
            disabled="{{basicInfoDisabled?'true':'false'}}" [(ngModel)]="selectedSR">
            <option value="null" style="display:none;">Select a Sales Rep</option>
            <option class="w-100" *ngFor="let sr of salesRepsEmployees" value="{{sr.employeeId}}">{{sr.name}}</option>
          </select>
        </div>

        <!-- Processing Agent -->
        <div class="col-6 col-sm-3">
          <p class="title2">Processing Agent</p>
          <select class="w-100 form-control form-control-line animated fadeIn"
            disabled="{{basicInfoDisabled?'true':'false'}}" [(ngModel)]="selectedPA">
            <option value="null" style="display:none;">Select a PA</option>
            <option class="w-100" *ngFor="let pa of pasEmployees" value="{{pa.employeeId}}">{{pa.name}}</option>
          </select>
        </div>

        <!-- Lead Agents -->
        <div class="col-6 col-sm-3">
          <p class="title2">Lead Agent</p>
          <select class="w-100 form-control form-control-line animated fadeIn"
            disabled="{{basicInfoDisabled?'true':'false'}}" [(ngModel)]="selectedLA">
            <option value="null" style="display:none;">Select a LA</option>
            <option class="w-100" *ngFor="let la of lasEmployees" value="{{la.employeeId}}">{{la.name}}</option>
          </select>
        </div>

      </div>
    </div>
    <div class="col-6 col-sm-4 col-md-3 pl-2 pr-2">
      <button class="warningBtn w-100 p-0" type="button" (click)="showModalQualify()">
        QUALIFYING QUESTIONS</button>
    </div>
  </div>

  <div class="row m-0 p-0">
    <div class="col-9 m-0 p-0">
      <hr />
    </div>
  </div>

  <!-- Lead Main Info -->
  <div class="row mb-4">
    <div class="col-12 col-md-9 p-0">
      <div class="row">
        <!-- Source (Automatic) -->
        <div class="col-6 col-sm-3">
          <p class="title2">Source</p>
          <select class="w-100 form-control form-control-line animated fadeIn"
            disabled="{{basicInfoDisabled?'required':''}}">
            <option class="w-100">{{lead?lead.sourceName:''}}</option>
          </select>
        </div>

        <!-- 1st Visit -->
        <div class="col-6 col-sm-2">
          <p class="title2">1st Visit</p>
          <date-picker *ngIf="lead && !basicInfoDisabled" [myDateValue]="lead._1stVisitDate" [required]="'required'"
            (change)="OnChangesLead($event, 2)"></date-picker>
          <p class="lead-label-date mb-0 title2-lead" *ngIf="basicInfoDisabled && lead">
            {{lead._1stVisitDate | date:'MM/dd/y'}}</p>
        </div>

        <!-- Signing Date -->
        <div class="col-6 col-sm-2">
          <p class="title2">Signing Date</p>
          <date-picker (change)="OnChangesLead($event, 3)" *ngIf="lead && !basicInfoDisabled"
            [myDateValue]="lead.signingDate"></date-picker>
          <p class="lead-label-date mb-0 title2-lead" *ngIf="basicInfoDisabled && lead">
            {{lead.signingDate | date:'MM/dd/y'}}</p>
        </div>

        <!-- Close Date -->
        <div class="col-6 col-sm-2">
          <p class="title2">Close Date</p>
          <date-picker (change)="OnChangesLead($event, 4)" *ngIf="lead && !basicInfoDisabled"
            [myDateValue]="lead.closeDate" [required]="'required'"></date-picker>
          <p class="lead-label-date mb-0 title2-lead" *ngIf="basicInfoDisabled && lead">
            {{lead.closeDate | date:'MM/dd/y'}}</p>
        </div>

        <div class="col-6 col-sm-2 w-100" style="margin-top: 27px">
          <div *ngIf="basicInfoDisabled">
            <button (click)="basicInfoDisabled = !basicInfoDisabled" tc-button [afterIcon]="'icofont-pencil-alt-5'"
              [view]="'success'" [outline]="true" class="rounded lead-edit-btn"></button>
          </div>
          <div style="display: flex;" *ngIf="!basicInfoDisabled" class="w-100 lead-save-btn">
            <button (click)="basicInfoDisabled = !basicInfoDisabled" class="warningBtn mr-3 px-1" style="width: 50%;">
              CANCEL
            </button>
            <button class="mainBtn px-1" style="float: right;" style="width: 50%;" (click)="saveLeadInf()">
              SAVE
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-4 col-md-3 pl-2 pr-2">
      <div class="row">
        <!-- Deal Start -->
        <div class="col-4">
          <p class="title3">Deal Start</p>
          <div *ngIf="lead" [attr.class]="lead.creationDate | datecolorPipe">
            <div class="title4">{{lead.creationDate | dateagoPipe}}</div>
            <small>Days ago</small>
          </div>
        </div>
        <!-- Last Contact -->
        <div class="col-4">
          <p class="title3">Contacted</p>
          <div *ngIf="lead" [attr.class]="lead.lastContactDate | datecolorPipe">
            <div class="title4">{{lead.lastContactDate | dateagoPipe}}</div>
            <small>Days ago</small>
          </div>
        </div>
        <!-- Close Date -->
        <div class="col-4">
          <p class="title3">Close Date</p>
          <div *ngIf="lead" [attr.class]="lead.closeDate | datecolorPipe">
            <div class="title4">{{lead.closeDate | dateagoPipe}}</div>
            <small>Days left</small>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Classes -->
  <div class="row animated fadeIn" *ngIf="!classes || !lead">
    <div class="col-sm-12">
      <div class="alert alert-warning text-center">
        <br>
        <i class="fa fa-spinner fa-spin fa-3x"></i>
        <br>
        <strong class="spinnerText">Loading...</strong>
      </div>
    </div>
  </div>

  <div class="row w-100" *ngIf="classes">
    <div class="col-lg-9 col-md-12">
      <ng-container *ngFor="let class of (classes | orderBy:'position') | classcolPipe:false">
        <tc-accordion [view]="'alternative'" class="w-100 p-0" *ngIf='validateClass(class.attribute, classes)'>
          <tc-panel [title]="class.name" [size]="'sm'" [opened]="class.open" *ngIf="class.visible">
            <tc-card class="p-0 m-0">
              <!-- Dynamic Panel -->
              <form #f="ngForm" (keydown.enter)="cancelarPropagacion($event)" class="form PrintArea"
                [ngClass]="{'was-validated': class.wasValidated}" novalidate>
                <div class="row">
                  <ng-container *ngFor="let attributeType of (class.attributeType | orderBy:'position')">
                    <div class="col-sm-12 col-md-6 col-lg-3 mt-2"
                      *ngIf="validate(attributeType, class) && attributeType.attributeTypeId !== -1"
                      [ngClass]="{ 'col-lg-6': attributeType.dataTypeId === appConfig.dataType.TextLong }">
                      <div>
                        <div style="display: flex;">
                          <p class="title2">
                            {{ attributeType.name }}
                            {{(attributeType && attributeType.obligatory===true)?'*':''}}
                          </p>
                          <div *ngIf="attributeType.description" class="ml-1 tc-icon-wrap aosp-ui-hints"
                            data-toggle="tooltip" data-placement="right" [title]="attributeType.description"></div>
                        </div>
                        <!-- Input -->
                        <input *ngIf="!class.disabled && attributeType.dataTypeId == appConfig.dataType.Text" value="{{
                      class.objectTypeId === appConfig.objectType.Lead ?
                        attributeType.leadAttributeValue &&
                        attributeType.leadAttributeValue[0] &&
                        attributeType.leadAttributeValue[0].leadAttributeValue1
                            ? attributeType.leadAttributeValue[0].leadAttributeValue1
                          : ''
                      : attributeType.customerAttributeValue &&
                      attributeType.customerAttributeValue[0] &&
                      attributeType.customerAttributeValue[0].customerAttributeValue1
                          ? attributeType.customerAttributeValue[0].customerAttributeValue1
                        : ''
                    }}" class="w-100 form-control" type="text"
                          (change)="onChange($event.target.value, attributeType, class)"
                          [maxLength]="attributeType && attributeType.length ? attributeType.length : '200'"
                          [required]="attributeType.obligatory" />
                        <div class="title2-lead" ngbTooltip="{{
                      class.objectTypeId === appConfig.objectType.Lead ?
                          attributeType.leadAttributeValue &&
                          attributeType.leadAttributeValue[0] &&
                          attributeType.leadAttributeValue[0].leadAttributeValue1
                              ? attributeType.leadAttributeValue[0].leadAttributeValue1
                            : ''
                        : attributeType.customerAttributeValue &&
                        attributeType.customerAttributeValue[0] &&
                        attributeType.customerAttributeValue[0].customerAttributeValue1
                            ? attributeType.customerAttributeValue[0].customerAttributeValue1
                          : ''
                    }}" *ngIf="class.disabled && attributeType.dataTypeId == appConfig.dataType.Text">
                          {{
class.objectTypeId === appConfig.objectType.Lead ?
                        attributeType.leadAttributeValue &&
                        attributeType.leadAttributeValue[0] &&
                        attributeType.leadAttributeValue[0].leadAttributeValue1
                            ? attributeType.leadAttributeValue[0].leadAttributeValue1
                          : ''
                      : attributeType.customerAttributeValue &&
                      attributeType.customerAttributeValue[0] &&
                      attributeType.customerAttributeValue[0].customerAttributeValue1
                          ? attributeType.customerAttributeValue[0].customerAttributeValue1
                        : ''
                          }}
                        </div>

                        <!-- Text Area -->
                        <textarea *ngIf="!class.disabled && attributeType.dataTypeId == appConfig.dataType.TextLong"
                          [disabled]="class.disabled" class="w-100 form-control"
                          (change)="onChange($event.target.value, attributeType, class)" value="{{
                          class.objectTypeId === appConfig.objectType.Lead ?
                            attributeType.leadAttributeValue &&
                            attributeType.leadAttributeValue[0] &&
                            attributeType.leadAttributeValue[0].leadAttributeValue1
                                ? attributeType.leadAttributeValue[0].leadAttributeValue1
                              : ''
                          : attributeType.customerAttributeValue &&
                          attributeType.customerAttributeValue[0] &&
                          attributeType.customerAttributeValue[0].customerAttributeValue1
                              ? attributeType.customerAttributeValue[0].customerAttributeValue1
                            : ''
                        }}" [required]="attributeType.obligatory"
                          [maxLength]="attributeType && attributeType.length ? attributeType.length : '1500'">
                        </textarea>
                        <p class="title2-lead"
                          *ngIf="class.disabled && attributeType.dataTypeId == appConfig.dataType.TextLong">
                          {{
                            class.objectTypeId === appConfig.objectType.Lead ?
                            attributeType.leadAttributeValue &&
                            attributeType.leadAttributeValue[0] &&
                            attributeType.leadAttributeValue[0].leadAttributeValue1
                                ? attributeType.leadAttributeValue[0].leadAttributeValue1
                              : ''
                          : attributeType.customerAttributeValue &&
                          attributeType.customerAttributeValue[0] &&
                          attributeType.customerAttributeValue[0].customerAttributeValue1
                              ? attributeType.customerAttributeValue[0].customerAttributeValue1
                            : ''
                          }}
                        </p>

                        <!-- Date -->
                        <date-picker *ngIf="!class.disabled && attributeType.dataTypeId == appConfig.dataType.Date"
                          [myDateValue]="class.objectTypeId === appConfig.objectType.Lead ?
                    attributeType.leadAttributeValue &&
                    attributeType.leadAttributeValue[0] &&
                    attributeType.leadAttributeValue[0].leadAttributeValue1
                        ? attributeType.leadAttributeValue[0].leadAttributeValue1
                      : ''
                  : attributeType.customerAttributeValue &&
                  attributeType.customerAttributeValue[0] &&
                  attributeType.customerAttributeValue[0].customerAttributeValue1
                      ? attributeType.customerAttributeValue[0].customerAttributeValue1
                    : ''" (change)="onChange($event, attributeType, class)" [required]="attributeType.obligatory">
                        </date-picker>
                        <p class="title2-lead"
                          *ngIf="class.disabled && attributeType.dataTypeId == appConfig.dataType.Date">
                          {{
                          class.objectTypeId === appConfig.objectType.Lead ?
                          attributeType.leadAttributeValue &&
                          attributeType.leadAttributeValue[0] &&
                          attributeType.leadAttributeValue[0].leadAttributeValue1
                              ? attributeType.leadAttributeValue[0].leadAttributeValue1
                            : ''
                        : attributeType.customerAttributeValue &&
                        attributeType.customerAttributeValue[0] &&
                        attributeType.customerAttributeValue[0].customerAttributeValue1
                            ? attributeType.customerAttributeValue[0].customerAttributeValue1
                          : ''
                         |  date:'MM/dd/y'
                          }}
                        </p>

                        <!-- Lists - Dropdowns -->
                        <select *ngIf="attributeType.dataTypeId == appConfig.dataType.ListValue"
                          class="w-100 form-control form-control-line animated fadeIn"
                          (change)="onChange($event.target.value, attributeType, class)"
                          [required]="attributeType.obligatory" [value]="
                      class.objectTypeId === appConfig.objectType.Lead ?
                            attributeType.leadAttributeValue &&
                            attributeType.leadAttributeValue[0] &&
                            attributeType.leadAttributeValue[0].attributeId
                                ? attributeType.leadAttributeValue[0].attributeId
                              : 0
                          : attributeType.customerAttributeValue &&
                          attributeType.customerAttributeValue[0] &&
                          attributeType.customerAttributeValue[0].attributeId
                              ? attributeType.customerAttributeValue[0].attributeId
                            : 0
                      " [disabled]="class.disabled">
                          <option class="w-100" *ngFor="let attribute of attributeType.attribute"
                            value="{{attribute.attributeId}}">
                            {{ attribute.value }}
                          </option>
                        </select>

                        <!-- Time picker -->
                        <timepicker
                          *ngIf="attributeType.dataTypeId == appConfig.dataType.Time && attributeType.leadAttributeValue.length > 0"
                          [ngModel]="attributeType.leadAttributeValue[0].leadAttributeValue1"
                          (ngModelChange)="onChange($event, attributeType, class)" name="timepicker"
                          class="animated fadeIn" [disabled]="class.disabled" [showSpinners]="false"
                          [required]="attributeType.obligatory">
                        </timepicker>

                        <!-- List Images -->
                        <file-uploader *ngIf="attributeType.dataTypeId == appConfig.dataType.ListImages"
                          [value]="attributeType.attribute" [document]="false" [disabled]="class.disabled"
                          [required]="attributeType.obligatory" [links]="class.objectTypeId === appConfig.objectType.Lead ?
                      attributeType.leadAttributeValue
                          ? attributeType.leadAttributeValue
                        : ''
                    : attributeType.customerAttributeValue
                          ? attributeType.customerAttributeValue
                        : ''
                    " (change)="onChange($event, attributeType, class)">
                        </file-uploader>

                        <!-- Radio -->
                        <tc-radio *ngIf="attributeType.dataTypeId == appConfig.dataType.Radio" [value]="class.objectTypeId === appConfig.objectType.Lead ?
                  attributeType.leadAttributeValue &&
                  attributeType.leadAttributeValue[0] &&
                  attributeType.leadAttributeValue[0].leadAttributeValue1
                      ? attributeType.leadAttributeValue[0].leadAttributeValue1
                    : null
                  : attributeType.customerAttributeValue &&
                   attributeType.customerAttributeValue[0] &&
                  attributeType.customerAttributeValue[0].customerAttributeValue1
                    ? attributeType.customerAttributeValue[0].customerAttributeValue1
                  : null " (change)="onChange($event, attributeType, class)" [required]="attributeType.obligatory">

                          <div class="row w-100 mr-0 justify-content-between"
                            *ngFor="let attribute of attributeType.attribute">
                            <tc-radio-option [value]="attribute.value" class="col mr-0 title2-lead"
                              [disabled]="class.disabled">
                              {{ attribute.value }}
                            </tc-radio-option>
                          </div>
                        </tc-radio>

                        <!-- Money -->
                        <number-format *ngIf="attributeType.dataTypeId == appConfig.dataType.Money" [value]="
                  class.objectTypeId === appConfig.objectType.Lead ?
                        attributeType.leadAttributeValue &&
                        attributeType.leadAttributeValue[0] &&
                        attributeType.leadAttributeValue[0].leadAttributeValue1
                            ? attributeType.leadAttributeValue[0].leadAttributeValue1
                          : ''
                      : attributeType.customerAttributeValue &&
                      attributeType.customerAttributeValue[0] &&
                      attributeType.customerAttributeValue[0].customerAttributeValue1
                          ? attributeType.customerAttributeValue[0].customerAttributeValue1
                        : ''
                  " [disabled]="class.disabled" [format]="'money-USD'" (change)="
                        onChange($event.target.value, attributeType, class)" [required]="attributeType.obligatory">
                        </number-format>

                        <!-- Checbox -->
                        <div *ngIf="attributeType.dataTypeId == appConfig.dataType.Multiple">
                          <tc-checkbox *ngFor="let attribute of attributeType.attribute" [value]="attribute.checkValue"
                            [disabled]="class.disabled" [required]="attributeType.obligatory" class="form-control"
                            (change)="onChange($event, attributeType, class, attribute)">
                            {{ attribute.value }}
                          </tc-checkbox>
                        </div>


                        <!-- External Link -->
                        <input *ngIf="!class.disabled && attributeType.dataTypeId ==  appConfig.dataType.ExternalLink"
                          class="w-100 form-control" type="text" [disabled]="class.disabled"
                          [required]="attributeType.obligatory" [value]="
                        class.objectTypeId === appConfig.objectType.Lead ?
                              attributeType.leadAttributeValue &&
                              attributeType.leadAttributeValue[0] &&
                              attributeType.leadAttributeValue[0].leadAttributeValue1
                                  ? attributeType.leadAttributeValue[0].leadAttributeValue1
                                : ''
                            : attributeType.customerAttributeValue &&
                            attributeType.customerAttributeValue[0] &&
                            attributeType.customerAttributeValue[0].customerAttributeValue1
                                ? attributeType.customerAttributeValue[0].customerAttributeValue1
                              : ''
                        " (change)="onChange($event.target.value, attributeType, class)" />
                        <a *ngIf="class.disabled && attributeType.dataTypeId ==  appConfig.dataType.ExternalLink"
                          [href]="class.objectTypeId === appConfig.objectType.Lead ?
                        attributeType.leadAttributeValue &&
                        attributeType.leadAttributeValue[0] &&
                        attributeType.leadAttributeValue[0].leadAttributeValue1
                            ? attributeType.leadAttributeValue[0].leadAttributeValue1
                          : ''
                      : attributeType.customerAttributeValue &&
                      attributeType.customerAttributeValue[0] &&
                      attributeType.customerAttributeValue[0].customerAttributeValue1
                          ? attributeType.customerAttributeValue[0].customerAttributeValue1
                        : ''
                    " ngbTooltip="{{class.objectTypeId === appConfig.objectType.Lead ?
                    attributeType.leadAttributeValue &&
                    attributeType.leadAttributeValue[0] &&
                    attributeType.leadAttributeValue[0].leadAttributeValue1
                        ? attributeType.leadAttributeValue[0].leadAttributeValue1
                      : ''
                  : attributeType.customerAttributeValue &&
                  attributeType.customerAttributeValue[0] &&
                  attributeType.customerAttributeValue[0].customerAttributeValue1
                      ? attributeType.customerAttributeValue[0].customerAttributeValue1
                    : ''}}">click here</a>

                        <!-- File Uploader -->
                        <file-uploader *ngIf="attributeType.dataTypeId ==  appConfig.dataType.ListDocument" [links]="class.objectTypeId === appConfig.objectType.Lead ?
                    attributeType.leadAttributeValue
                        ? attributeType.leadAttributeValue
                      : ''
                  : attributeType.customerAttributeValue
                        ? attributeType.customerAttributeValue
                      : ''" [value]="attributeType.attribute" [document]="true" [disabled]="class.disabled"
                          [required]="attributeType.obligatory" (change)="onChange($event, attributeType, class)">
                        </file-uploader>

                        <!-- Number Picker -->
                        <number-picker *ngIf="attributeType.dataTypeId ==  appConfig.dataType.Number"
                          [required]="attributeType.obligatory" [disabled]="class.disabled" class="form-control"
                          [value]="class.objectTypeId === appConfig.objectType.Lead ?
                              attributeType.leadAttributeValue &&
                              attributeType.leadAttributeValue[0] &&
                              attributeType.leadAttributeValue[0].leadAttributeValue1
                                  ? attributeType.leadAttributeValue[0].leadAttributeValue1
                                : 0
                            : attributeType.customerAttributeValue &&
                            attributeType.customerAttributeValue[0] &&
                            attributeType.customerAttributeValue[0].customerAttributeValue1
                                ? attributeType.customerAttributeValue[0].customerAttributeValue1
                              : 0" (change)="onChange($event, attributeType, class)"></number-picker>

                        <!-- Lineal Gauge -->
                        <lineal-gauge *ngIf="attributeType.dataTypeId ==  appConfig.dataType.LienalGauge"
                          [required]="attributeType.obligatory" [Title]="''" [disabled]="class.disabled" value="{{
                        class.objectTypeId === appConfig.objectType.Lead ?
                              attributeType.leadAttributeValue &&
                              attributeType.leadAttributeValue[0] &&
                              attributeType.leadAttributeValue[0].leadAttributeValue1
                                  ? attributeType.leadAttributeValue[0].leadAttributeValue1
                                : 0
                            : attributeType.customerAttributeValue &&
                            attributeType.customerAttributeValue[0] &&
                            attributeType.customerAttributeValue[0].customerAttributeValue1
                                ? attributeType.customerAttributeValue[0].customerAttributeValue1
                              : 0
                      }}" (change)="onChange($event, attributeType, class)"></lineal-gauge>


                        <!-- Phone number -->
                        <number-format *ngIf="attributeType.dataTypeId ==  appConfig.dataType.PhoneNumber"
                          [disabled]="class.disabled" class="form-control" [format]="'phoneNumber'"
                          [required]="attributeType.obligatory" (change)="
                        onChange($event.target.value, attributeType, class)
                      " [value]="
                      class.objectTypeId === appConfig.objectType.Lead ?
                            attributeType.leadAttributeValue &&
                            attributeType.leadAttributeValue[0] &&
                            attributeType.leadAttributeValue[0].leadAttributeValue1
                                ? attributeType.leadAttributeValue[0].leadAttributeValue1
                              : ''
                          : attributeType.customerAttributeValue &&
                          attributeType.customerAttributeValue[0] &&
                          attributeType.customerAttributeValue[0].customerAttributeValue1
                              ? attributeType.customerAttributeValue[0].customerAttributeValue1
                            : ''
                      " [disabled]="class.disabled" [format]="'money-USD'" (change)="
                        onChange($event.target.value, attributeType, class)
                      ">
                        </number-format>

                        <!-- Progress -->
                        <div *ngIf="attributeType.dataTypeId ==  appConfig.dataType.Progress">
                          <tc-progress *ngIf="attributeType.dataTypeId ==  appConfig.dataType.Progress"
                            [color]="'#6ca100'" [progress]="class.objectTypeId === appConfig.objectType.Lead ?
                            attributeType.leadAttributeValue &&
                            attributeType.leadAttributeValue[0] &&
                            attributeType.leadAttributeValue[0].leadAttributeValue1
                                ? attributeType.leadAttributeValue[0].leadAttributeValue1
                              : 0
                          : attributeType.customerAttributeValue &&
                          attributeType.customerAttributeValue[0] &&
                          attributeType.customerAttributeValue[0].customerAttributeValue1
                              ? attributeType.customerAttributeValue[0].customerAttributeValue1
                            : 0">
                          </tc-progress>
                        </div>

                        <!-- Money Range -->
                        <div *ngIf="attributeType.dataTypeId ==  appConfig.dataType.MoneyRange">
                          <range [Disabled]="class.disabled" class="form-control"
                            (Change)="onChange($event, attributeType, class)" [required]="attributeType.obligatory"
                            [value]="
                      class.objectTypeId === appConfig.objectType.Lead ?
                            attributeType.leadAttributeValue &&
                            attributeType.leadAttributeValue[0] &&
                            attributeType.leadAttributeValue[0].leadAttributeValue1
                                ? attributeType.leadAttributeValue[0].leadAttributeValue1
                              : ''
                          : attributeType.customerAttributeValue &&
                          attributeType.customerAttributeValue[0] &&
                          attributeType.customerAttributeValue[0].customerAttributeValue1
                              ? attributeType.customerAttributeValue[0].customerAttributeValue1
                            : ''
                      "></range>
                        </div>

                        <div class="invalid-feedback"
                          [ngClass]="{'d-block': attributeType.valid === false && !class.disabled && class.wasValidated}"
                          *ngIf="attributeType.obligatory">It's required!</div>
                      </div>
                    </div>
                  </ng-container>

                  <div class="col-12 h-100 text-right mt-3">
                    <div *ngIf="class.disabled && !class.homeComparison">
                      <button (click)="class.disabled = !class.disabled" tc-button [afterIcon]="'icofont-pencil-alt-5'"
                        [view]="'success'" [outline]="true" class="rounded"></button>
                    </div>
                    <div *ngIf="!class.disabled">
                      <button (click)="class.disabled = !class.disabled" class="warningBtn mr-2">
                        CANCEL
                      </button>

                      <ng-container *ngIf="!class.homeComparison">
                        <button (click)="save(class)" class="mainBtn">
                          SAVE
                        </button>
                      </ng-container>

                      <ng-container *ngIf="class.homeComparison">
                        <button (click)="save(class, true)" class="mainBtn">
                          SEARCH
                        </button>
                      </ng-container>
                    </div>
                  </div>

                </div>
              </form>
              <!-- End Dynamic Panel -->
              <!-- Home Comparison without Product Active -->
              <div class="mt-4" *ngIf="class.homeComparison && !hasLeadProductActive() && homes && homes.length > 0">
                <div class="row">
                  <div *ngFor="let home of getSelectedHomes(); let in=index" class="col-xl-4">
                    <select class="form-control" id="homeSelected{{in}}" [(ngModel)]="homeSelected[in]"
                      name="homeSelected{{in}}" (change)="cargarHome(home, in)" placeholder="select">
                      <option [ngValue]="null" style="display:none;"> Selected Option </option>
                      <optgroup *ngFor="let source of getNotSelectedHomes()" label="{{source.name}}">
                        <option [ngValue]="home" *ngFor="let home of source.items">{{home.year}} - {{home.name}} -
                          {{home.price | currency}}</option>
                      </optgroup>
                    </select>

                    <div class="row">
                      <div class="col-xl-1 my-3">
                        <input type="radio" name="home{{in}}" [(ngModel)]="homeToOrder" [value]="home"
                          style="width:22px;height:32px;cursor:pointer;">
                      </div>
                      <div class="titleText text-center col-xl-10" style="font-size: 20px;">
                        {{home.year}} - {{home.name}}
                      </div>
                    </div>

                    <ng-container>
                      <a class="col-12 col-md-6 col-lg-6 col-xl-3 result-homes">
                        <div class="position-relative" style="margin-top:-8%;" (click)="seeDetail(home)"
                          style="cursor: pointer">

                          <img [src]="home.iconUrl" alt="home.name" style="width: auto; height: 257.3px;"
                            class="w-100 h-100" />
                          <div class="bg-bottom"></div>
                          <div class="title-result-homes pb-3">
                            <div class="row pl-2 pr-3">
                              <div class="col">
                                <div class="title-bottom">{{home.name}}</div>
                              </div>
                            </div>
                            <hr>
                            <div class="row">
                              <div class="col-4 home-result-feature text-left pr-0">
                                <div class="home-sqm-icon">{{home.sqft}}</div>
                                Square Feet
                              </div>
                              <div class="col-4 home-result-feature text-center pr-0">
                                <div class="home-beds-icon m-auto">{{home.bed}}</div>
                                Bedrooms
                              </div>
                              <div class="col-4 home-result-feature text-right pr-0">
                                <div class="position-right">
                                  <div class="home-baths-icon mx-4">{{home.bath}}</div>
                                  <div class="">Bathrooms</div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </a>
                    </ng-container>

                    <div class="row my-3">

                      <div class="col-xl-6" *ngIf="home._3dTourUrl && true">
                        <button type="button" class="homeBtn btn btn-primary"
                          (click)="showModal(home._3dTourUrl, true)">VIRTUAL TOUR</button>
                      </div>
                      <div class="col-xl-6" *ngIf="home.floorplanUrl && true">
                        <button type="button" class="homeBtn btn btn-primary"
                          (click)="showModal(home.floorplanUrl, false)">FLOORPLAN</button>
                      </div>
                    </div>

                  </div>

                </div>

                <button class="warningBtn mr-4 float-right my-0" (click)="orderHomes()">
                  ORDER HOME
                </button>

                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Compare
                    </mat-panel-title>
                  </mat-expansion-panel-header>

                  <div *ngFor="let home of getSelectedHomes()">
                    <div *ngIf="home.selected">

                      <div class="row my-4">
                        <div class="col-12 col-md-12 col-lg-4 col-xl-12 px-4">
                          <div>
                            <div class="text-left">
                              <h3 class="subitulo">Location</h3>
                              <p class="">{{home.storeName}}</p>
                            </div>


                            <div>
                              <h3 class="subitulo">Base Price</h3>
                              <p class="">{{home.price | currency}}</p>
                            </div>

                            <div>
                              <h3 class="subitulo">Details</h3>
                              <p class="">
                                {{home.details || 'No Details'}}
                              </p>
                              <hr />
                            </div>

                            <div *ngIf="home && home.addOnsInv" class="row ">
                              <h3 class="subitulo my-2">Add-Ons</h3>
                              <div class="rounded square scrollbar-dusty-grass square thin scroll
                                 height-atts" style="height: auto; overflow: auto; overflow-x: hidden;
                                      max-height: 160px;">
                                <p *ngFor="let addOn of home.addOnsInv" class="">
                                  - {{addOn.name}}
                                </p>
                              </div>
                              <hr />
                            </div><br /><br />

                            <div style="display: inline-flex;">
                              <h3 class="subitulo">Total Price</h3>
                              <p class="">
                                <a class="mx-4" style="font-size:28px">{{home.price | currency}}</a>
                              </p>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <mat-action-row>

                  </mat-action-row>
                </mat-expansion-panel>
                <app-promo-homes></app-promo-homes>
              </div>
              <!-- End Home Comparison without Product Active -->
              <!-- Home Comparison with Product Active -->
              <div class="mt-4" *ngIf="class.homeComparison && hasLeadProductActive() && homeToOrder">

                <div class="col-12 col-xl-12 col-md-12 col-lg-12 p-0">
                  <div class="row">
                    <div class="col-12 col-md-12 col-lg-4 col-xl-4 p-1">

                      <div class="titleText text-center">
                        {{homeToOrder.year}} {{homeToOrder.name}}
                      </div>
                      <div class="col-12 result-homes pt-0">
                        <div class="position-relative">
                          <img [src]="homeToOrder.iconUrl" alt="homeToOrder.name" class="w-100 h-100" />
                          <div class="bg-bottom"></div>
                          <div class="title-result-homes pb-3">
                            <div class="row pl-2 pr-3">
                              <div class="col">
                                <div class="title-bottom">{{homeToOrder.name}}</div>
                              </div>
                            </div>
                            <hr>
                            <div class="row">
                              <div class="col-4 home-result-feature text-left pr-0">
                                <div class="home-sqm-icon">{{homeToOrder.sqft}}</div>
                                Square Feet
                              </div>
                              <div class="col-4 home-result-feature text-center pr-0">
                                <div class="home-beds-icon m-auto">{{homeToOrder.bed}}</div>
                                Beedrooms
                              </div>
                              <div class="col-4 home-result-feature text-right pr-0">
                                <div class="position-right">
                                  <div class="home-baths-icon mx-4">{{homeToOrder.bath}}</div>
                                  <div class="">Bathrooms</div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row my-3">
                        <div class="col-xl-6" *ngIf="homeToOrder._3dTourUrl && true">
                          <button type="button" class="homeBtn btn btn-primary"
                            (click)="showModal(homeToOrder._3dTourUrl, true)">VIRTUAL TOUR</button>
                        </div>
                        <div class="col-xl-6" *ngIf="homeToOrder.floorplanUrl && true">
                          <button type="button" class="homeBtn btn btn-primary"
                            (click)="showModal(homeToOrder.floorplanUrl, false)">FLOORPLAN</button>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-6 pr-0">
                          <div class="text-left">
                            <h3 class="subitulo">Manufacturer</h3>
                            <p class="mb-0">{{homeToOrder.manufacturer?.shortName}}</p>
                          </div>
                          <div class="text-left">
                            <h3 class="subitulo">Model - Year</h3>
                            <p class="mb-0">{{homeToOrder.nameId + ' / ' + homeToOrder.name}}</p>
                            <p class="mb-0">{{homeToOrder.year }}</p>
                          </div>
                          <div>
                            <h3 class="subitulo">Base Price</h3>
                            <p class="mb-0">{{homeToOrder.price | currency}}</p>
                          </div>
                        </div>
                        <div class="col-6 pr-0">
                          <div>
                            <h3 class="subitulo">Details</h3>
                            <p class="mb-0">
                              {{homeToOrder.details || 'No Details'}}
                            </p>
                          </div>
                        </div>
                        <!-- <div class="col-12 pr-0">
                          <div *ngIf="homeToOrder && homeToOrder.addOnsInv" class="row ">
                            <h3 class="subitulo my2">Add-Ons</h3>

                            <div class="rounded square scrollbar-dusty-grass square thin scroll w-100
                                     height-atts" style="height: auto; overflow: auto; overflow-x: hidden;
                                    max-height: 160px;" *ngIf="homeToOrder.addOnsInv.length > 0">
                              <p *ngFor="let addOn of homeToOrder.addOnsInv" class="mb-1">
                                - {{addOn.name}}
                              </p>

                            </div>
                          </div>
                        </div> -->
                      </div>
                    </div>

                    <div class="col-12 col-md-12 col-lg-8 col-xl-8 pr-1">
                      <div class="row">
                        <div class="col-12 p-0 title2 ">
                          <div class="homeDetails">Options</div>
                        </div>
                        <ng-container *ngIf="options">
                          <div class="col-6 mb-2 p-0 d-flex justify-content-between" *ngFor="let option of options; let i= index;" >
                            <div class="row p-0 w-100" [ngClass]="{'pl-2': i % 2 !== 0}">
                              <div class="col-5 p-0 homeDetails my-auto">{{option.name}}</div>
                              <div class="col-4 r-0 homeDetails my-auto">
                                <input type="number" (change)="changeOption(option)" [(ngModel)]="option.price"
                                  placeholder="{{option.defaultPrice?'Sugg: ' + option.defaultPrice: ''}}"
                                  class="w-100" *ngIf="!homeToOrder.disabled"/>
                                <div class="w-100" *ngIf="homeToOrder.disabled">{{option.price}}</div>
                              </div>
                              <div class="col-3 pr-0">
                                <select class="w-100 animated fadeIn" [(ngModel)]="option.included"
                                  (change)="changeOption(option)" required [disabled]="homeToOrder.disabled">
                                  <option [value]=appConfig.optionsType.no selected>No</option>
                                  <option [value]=appConfig.optionsType.yes>Yes</option>
                                  <option [value]=appConfig.optionsType.included>Inc</option>
                                </select>
                              </div>
                            </div>
                          </div>
                        </ng-container>
                        <div class="col-12 p-0">
                          <hr class="w-100 my-2" />
                        </div>
                        <div class="col-12 p-0 d-flex justify-content-between">
                          <div class="homeDetails">Options Price</div>
                          <div class="text-right homeDetails animated fadeIn">{{homeToOrder.optionsPrice ? homeToOrder.optionsPrice : 0 | currency}}</div>
                        </div>
                      </div>

                      <div class="row mt-4">
                        <div class="col-12 p-0 title2 ">
                          <div class="homeDetails">Princing</div>
                        </div>
                        <div class="col-12 p-0 d-flex justify-content-between">
                          <div class="homeDetails">Options Price</div>
                          <div class="text-right homeDetails">{{homeToOrder.optionsPrice ? homeToOrder.optionsPrice : 0 | currency}}</div>
                        </div>
                        <div class="col-12 p-0 mt-2 d-flex justify-content-between">
                          <div class="homeDetails">Sales Price</div>
                          <div class="text-right homeDetails">{{homeToOrder.price | currency}}</div>
                        </div>
                        <div class="col-12 p-0">
                          <hr class="w-100 my-2" />
                        </div>
                        <div class="col-12 p-0 h2 d-flex justify-content-between">
                          <div class="homeDetails">Home Price</div>
                          <div class="text-right homeDetails">{{homeToOrder.price+(homeToOrder.optionsPrice?homeToOrder.optionsPrice:0) | currency}}</div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>

                <div class="col-12 h-100 text-right mt-2 pr-1">
                  <div *ngIf="homeToOrder.disabled">
                    <button (click)="homeToOrder.disabled = !homeToOrder.disabled" tc-button
                      [afterIcon]="'icofont-pencil-alt-5'" [view]="'success'" [outline]="true" class="rounded"></button>
                  </div>
                  <div *ngIf="!homeToOrder.disabled">
                    <button (click)="homeToOrder.disabled = !homeToOrder.disabled" class="warningBtn mr-2">
                      CANCEL
                    </button>
                    <button (click)="saveOptions()" class="mainBtn">
                      SAVE
                    </button>
                  </div>
                </div>

              </div>
              <!-- End Home Comparison with Product Active -->
            </tc-card>
          </tc-panel>
        </tc-accordion>
      </ng-container>
    </div>

    <div class="col-md-12 col-lg-3">
      <tc-accordion [view]="'alternative'" class="col-12" *ngIf='formsToPrint'>
        <tc-panel title="Forms" [size]="'sm'">
          <tc-card>
            <div class="row">
              <ng-container *ngFor="let category of (formsToPrint | formsCategory) ">
                <div class="col-12 mb-3 mt-2 title2 text-center">{{ category.name }}</div>

                <div class="col-12 mb-1 pr-0" *ngFor="let formToPrint of category.leadDocument">
                  <a class="title2 text-left cursor-pointer blue"
                    (click)="printForm(formToPrint)">{{ formToPrint.name }}</a>
                </div>
              </ng-container>
            </div>
          </tc-card>
        </tc-panel>
      </tc-accordion>

      <ng-container *ngFor="let class of classes | classcolPipe:true">
        <tc-accordion [view]="'alternative'" class="col-12" *ngIf='validateClass(class.attribute, classes)'>
          <tc-panel [title]="class.name" [size]="'sm'" [opened]="class.open" *ngIf="class.visible">
            <tc-card>
              <form #f="ngForm" (keydown.enter)="cancelarPropagacion($event)" id="leccionForma" class="form PrintArea"
                [ngClass]="{'was-validated': class.wasValidated}" novalidate>

                <div class="row">
                  <div class="col-12 mb-4"
                    [ngClass]="{ 'col-lg-6': attributeType.dataTypeId === appConfig.dataType.TextLong }"
                    *ngFor="let attributeType of class.attributeType">
                    <div *ngIf="validate(attributeType.attributeNavigation,class)">
                      <!-- List Images -->
                      <file-uploader *ngIf="attributeType.dataTypeId == appConfig.dataType.ListImages"
                        [value]="attributeType.attribute" [document]="false" [disabled]="class.disabled"
                        [required]="attributeType.obligatory" [links]="class.objectTypeId === appConfig.objectType.Lead ?
                          attributeType.leadAttributeValue
                              ? attributeType.leadAttributeValue
                            : ''
                        : attributeType.customerAttributeValue
                              ? attributeType.customerAttributeValue
                            : ''
                        " (change)="onChange($event, attributeType, class)">
                      </file-uploader>

                      <!-- File Uploader -->
                      <file-uploader *ngIf="attributeType.dataTypeId ==  appConfig.dataType.ListDocument" [links]="class.objectTypeId === appConfig.objectType.Lead ?
                          attributeType.leadAttributeValue
                              ? attributeType.leadAttributeValue
                            : ''
                        : attributeType.customerAttributeValue
                              ? attributeType.customerAttributeValue
                            : ''" [value]="attributeType.attribute" [document]="true" [disabled]="class.disabled"
                        [required]="attributeType.obligatory" (change)="onChange($event, attributeType, class)">
                      </file-uploader>

                      <div class="invalid-feedback"
                        [ngClass]="{'d-block': attributeType.valid === false && !class.disabled && class.wasValidated}"
                        *ngIf="attributeType.obligatory">It's required!</div>
                    </div>
                  </div><br />

                  <div class="col-12 h-100 text-right">
                    <div *ngIf="class.disabled">
                      <button (click)="class.disabled = !class.disabled" tc-button [afterIcon]="'icofont-pencil-alt-5'"
                        [view]="'success'" [outline]="true"></button>
                    </div>
                    <div *ngIf="!class.disabled">
                      <button (click)="class.disabled = !class.disabled" class="warningBtn mr-2 pl-3 pr-3">
                        CANCEL
                      </button>
                      <ng-container *ngIf="class.changedAttTypes && class.changedAttTypes.length">
                        <button (click)="save(class)" class="mainBtn">
                          SAVE
                        </button>
                      </ng-container>
                      <ng-container *ngIf="!(class.changedAttTypes && class.changedAttTypes.length)">
                        <button (click)="save(class)" class="mainBtn" disabled="true">
                          SAVE
                        </button>
                      </ng-container>
                    </div>
                  </div>
                </div>

              </form>
            </tc-card>
          </tc-panel>
        </tc-accordion>
      </ng-container>
    </div>
  </div>
  <div class="row w-100" *ngIf="leadId">
    <div class="col-12">
      <client-activity [leadId]="leadId"></client-activity>
    </div>
  </div>

</div>
