
<div class="col-12 col-xl-12 col-md-12 col-lg-12 m-auto px-3">
  <div class="row mt-2">

    <div class="col-12 col-md-12 col-lg-12 col-xl-6 p-0">
      <div class="menuTitle3Div animated fadeIn">
        <div class="p-0">
          <div class="title2 t-3">Team Tasks</div>
        </div>
      </div>
      <div class="mr-2 bg-item-dashboard">
        <app-team-task-table></app-team-task-table>
      </div>
    </div>

    <div class="col-12 col-md-12 col-lg-12 col-xl-6 p-0">
      <div class="menuTitle3Div animated fadeIn">
        <div class="p-0">
          <div class="title2 t-3">Pending Tasks</div>
        </div>
      </div>
      <div class="ml-2 bg-item-dashboard">
        <app-pending-task-table></app-pending-task-table>
      </div>
    </div>

  </div>
</div>
