

.tittleLeads {
  font-size: 22px;
  padding: 0;
  margin-top: -15px;
}

.subtitleWidget {
  margin-top: -10px;
  font-weight: 500;
}

.numberWidget {
  color: #5aaef3;
}


.fa.fa-spinner.fa-spin.fa-3x {
  color: #0d5fa1 !important;
}

.spinnerText {
  color: #0d5fa1 !important;
}
