<app-profile *ngIf="usr.contentRightMenu === appConfig.rightMenu.profile"></app-profile>
<app-calendar *ngIf="usr.contentRightMenu === appConfig.rightMenu.calendar"></app-calendar>
<app-create-lead *ngIf="usr.contentRightMenu === appConfig.rightMenu.createLead"></app-create-lead>
<app-create-role *ngIf="usr.contentRightMenu === appConfig.rightMenu.role"></app-create-role>
<app-add-form *ngIf="usr.contentRightMenu === appConfig.rightMenu.form"></app-add-form>
<app-send-message *ngIf="usr.contentRightMenu === appConfig.rightMenu.sendMessage"></app-send-message>
<app-edit-customer *ngIf="usr.contentRightMenu === appConfig.rightMenu.editCustomer"></app-edit-customer>
<app-home-detail *ngIf="usr.contentRightMenu === appConfig.rightMenu.productDetail"></app-home-detail>
<app-create-dealership *ngIf="usr.contentRightMenu === appConfig.rightMenu.dealership"></app-create-dealership>
<app-create-storage *ngIf="usr.contentRightMenu === appConfig.rightMenu.storage"></app-create-storage>
<app-create-lot *ngIf="usr.contentRightMenu === appConfig.rightMenu.lot"></app-create-lot>
<app-create-manufacturer *ngIf="usr.contentRightMenu === appConfig.rightMenu.manufacturer"></app-create-manufacturer>
<app-create-plant *ngIf="usr.contentRightMenu === appConfig.rightMenu.plant"></app-create-plant>
<app-create-catalog *ngIf="usr.contentRightMenu === appConfig.rightMenu.catalog"></app-create-catalog>
<app-add-product-inv *ngIf="usr.contentRightMenu === appConfig.rightMenu.productInv"></app-add-product-inv>
<app-detail-home-dashboard *ngIf="usr.contentRightMenu === appConfig.rightMenu.productDetail"></app-detail-home-dashboard>
