

<div class="modal-body row w-100 h-100 mx-0">
  <form #f="ngForm"  class="w-100" [ngClass]="{'was-validated': wasValidated}" novalidate>
    <div class="col-12 p-0 mb-4 mt-1">
      <span class="title">
        Please comment on your reason for rejection
      </span>
    </div>

    <div class="col-12 p-0 mb-3 px-1">
      <textarea class="w-100 form-control" [(ngModel)]="estadoSelected" name="estadoSelected" maxlength="100" required></textarea>
      <div class="invalid-feedback text-right">It's required!</div>
    </div>

    <div class="row w-100 mt-2">
      <div class="col-6 pr-2">
        <button type="button" class="upload w-100" (click)="saveButton()">REJECT</button>
      </div>
      <div class="col-6 p-0 pl-2">
        <button type="button" class="cancel w-100" (click)="closeButton()">CANCEL</button>
      </div>
    </div>
  </form>
</div>
