table-responsive {    
    border-radius: 1em !important;    
}

td {
    text-align: center; 
    vertical-align: middle;
}

table.center {
    margin-left:auto; 
    margin-right:auto;
}

.borderTittle-table {
  border-bottom: 2px solid #68b7f6 !important;
}
