<tc-card [align]="'center'" [padding]="'0'" class="height-right-menu rounded square scrollbar-dusty-grass square thin">
  <div class="animated fadeIn">
    <mat-tab-group mat-stretch-tabs #tasksgroup class="mat-elevation-z4">
      <mat-tab label="Home Feautures">
        <div class="container p-0">
          <ng-container *ngIf="home">
            <a class="col-12 col-md-6 col-lg-6 col-xl-3 result-homes">
              <div class="position-relative mt-3 mx-3 mb-0">

                <img [src]="home.iconUrl" alt="home.name" style="width: auto; height: 257.3px; border-radius: 5%;" class="w-100 h-100" />

                <div class="bg-bottom bg-bottom-homes"></div>
                <div class="title-result-homes pb-3 px-2">
                  <div class="row pl-2 pr-3">
                    <div class="col">
                      <div class="title-bottom">{{home.name}}</div>
                    </div>
                  </div>
                  <hr>
                  <div class="row">

                    <div class="col-4 home-result-feature text-left pr-0">
                      <div class="row">
                        <div class="col-6 p-1">
                          <div class="home-sqm-icon m-auto" style="height: 30px;"></div>
                        </div>
                        <div class="col-6 p-0">
                          <div class="" style="font-size: 12px;">Sq ft</div>
                          <div class="" style="font-size: 14px;">{{home.sqft}}</div>
                        </div>
                      </div>
                    </div>

                    <div class="col-4 home-result-feature text-left pr-0 pl-3">
                      <div class="row">
                        <div class="col-6 p-1">
                          <div class="home-beds-icon m-auto" style="height: 30px;"></div>
                        </div>
                        <div class="col-6">
                          <div class="" style="font-size: 12px;">Bed</div>
                          <div class="" style="font-size: 14px;">{{home.bed}}</div>
                        </div>
                      </div>
                    </div>

                    <div class="col-4 home-result-feature text-left pr-0 pl-3">
                      <div class="row">
                        <div class="col-6 p-1">
                          <div class="home-baths-icon m-auto" style="height: 30px;"></div>
                        </div>
                        <div class="col-6 p-0">
                          <div class="" style="font-size: 12px;">Bath</div>
                          <div class="" style="font-size: 14px;">{{home.bath}}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </a>

            <div class="p-3 w-100 row m-0">
              <div class="col-6 w-100">
                <button class="mainBtn w-100" (click)="showModal(home._3dTourUrl, true)">
                  <div class="d-flex">VIRTUAL TOUR</div>
                </button>
              </div>
              <div class="col-6 w-100">
                <button class="mainBtn w-100" (click)="showModal(home.floorplanUrl, false)">
                  <div class="d-flex">FLOORPLAN</div>
                </button>
              </div>
            </div>
          </ng-container>

          <!-- Details -->
          <div class="col-12" *ngIf="home">
            <table style="border: transparent" class="table table-bordered table-striped animated fadeIn b-0 mb-0">
              <thead>
                <tr>
                  <td scope="col" class="remove_all_lines text-left text-nowrap title2">Home Details</td>
                </tr>
              </thead>
              <tbody>
                <tr class="animated fadeIn">
                  <td width="" class="remove_all_lines text-left py-1">Make:</td>
                  <td width="" class="remove_all_lines text-left py-1">{{home.manufacturer.shortName}}</td>
                </tr>

                <tr class="animated fadeIn">
                  <td width="" class="remove_all_lines text-left py-1">Model:</td>
                  <td width="" class="remove_all_lines text-left py-1">{{home.name}} {{home.nameId}}</td>
                </tr>

                <tr class="animated fadeIn">
                  <td width="" class="remove_all_lines text-left py-1">Year:</td>
                  <td width="" class="remove_all_lines text-left py-1">{{home.year}}</td>
                </tr>

                <tr class="animated fadeIn">
                  <td width="" class="remove_all_lines text-left py-1">Serial#:</td>
                  <td width="" class="remove_all_lines text-left py-1">{{home.serialNum}}</td>
                </tr>

                <tr class="animated fadeIn">
                  <td width="" class="remove_all_lines text-left py-1">HUD#:</td>
                  <td width="" class="remove_all_lines text-left py-1">{{home.hudNum}}</td>
                </tr>

                <tr class="animated fadeIn">
                  <td width="" class="remove_all_lines text-left py-1">Location:</td>
                  <td width="" class="remove_all_lines text-left py-1">{{home.storeName}}</td>
                </tr>

                <tr class="animated fadeIn">
                  <td width="" class="remove_all_lines text-left py-1">Status:</td>
                  <td width="" class="remove_all_lines text-left py-1">{{home.productStatus.statusName}}</td>
                </tr>
                <tr class="animated fadeIn">
                  <td width="" class="remove_all_lines text-left py-1">Est. Offline:</td>
                  <td width="" class="remove_all_lines text-left py-1">{{home.estOffline}}</td>
                </tr>
                <tr class="animated fadeIn">
                  <td width="" class="remove_all_lines text-left py-1">Date Built:</td>
                  <td width="" class="remove_all_lines text-left py-1">0</td>
                </tr>
                <tr class="animated fadeIn">
                  <td width="" class="remove_all_lines text-left py-1">Box Size:</td>
                  <td width="" class="remove_all_lines text-left py-1">{{home.boxLong}} x {{home.boxWide}}</td>
                </tr>
                <tr class="animated fadeIn">
                  <td width="" class="remove_all_lines text-left py-1">Sq Ft:</td>
                  <td width="" class="remove_all_lines text-left py-1">{{home.sqft}}</td>
                </tr>
                <tr class="animated fadeIn">
                  <td width="" class="remove_all_lines text-left py-1">Bed:</td>
                  <td width="" class="remove_all_lines text-left py-1">{{home.bed}}</td>
                </tr>
                <tr class="animated fadeIn">
                  <td width="" class="remove_all_lines text-left py-1">Bath:</td>
                  <td width="" class="remove_all_lines text-left py-1">{{home.bath}}</td>
                </tr>
                <tr class="animated fadeIn">
                  <td width="" class="remove_all_lines text-left py-1">W. Zone:</td>
                  <td width="" class="remove_all_lines text-left py-1">{{home.windZone}}</td>
                </tr>
                <tr class="animated fadeIn">
                  <td width="" class="remove_all_lines text-left py-1">Lbs:</td>
                  <td width="" class="remove_all_lines text-left py-1">0</td>
                </tr>
                <tr class="animated fadeIn">
                  <td width="" class="remove_all_lines text-left py-1">Floor R.Values:</td>
                  <td width="" class="remove_all_lines text-left py-1">0</td>
                </tr>
                <tr class="animated fadeIn">
                  <td width="" class="remove_all_lines text-left py-1">Walls R.Values:</td>
                  <td width="" class="remove_all_lines text-left py-1">0</td>
                </tr>
                <tr class="animated fadeIn">
                  <td width="" class="remove_all_lines text-left py-1">Ceiling R.Values:</td>
                  <td width="" class="remove_all_lines text-left py-1">0</td>
                </tr>
                <tr class="animated fadeIn">
                  <td width="" class="remove_all_lines text-left py-1">Floor Thickness:</td>
                  <td width="" class="remove_all_lines text-left py-1">0</td>
                </tr>
                <tr class="animated fadeIn">
                  <td width="" class="remove_all_lines text-left py-1">Ceilling Thickness:</td>
                  <td width="" class="remove_all_lines text-left py-1">0</td>
                </tr>

              </tbody>
            </table>
          </div>

          <hr *ngIf="home && home.addOnsInv" style="width: 90% !important">

          <!-- AddOns -->
          <div class="col-12" *ngIf="home && home.addOnsInv">
            <table style="border: transparent" class="table table-bordered table-striped animated fadeIn b-0 mb-0">
              <thead>
                <tr>
                  <td scope="col" class="remove_all_lines text-left text-nowrap" style="font-size:16px;color:#eae5eb">AddOns</td>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let addOn of home.addOnsInv" class="animated fadeIn">

                  <td width="" class="remove_all_lines text-left">- {{addOn.name}}</td>
                </tr>

              </tbody>
            </table>
          </div>

          <hr style="width: 90% !important">

          <!-- Price -->
          <div class="col-12" *ngIf="home">
            <table style="border: transparent" class="table table-bordered table-striped animated fadeIn b-0 mb-0">
              <thead>
                <tr>
                  <td scope="col" class="remove_all_lines text-left text-nowrap" style="font-size:16px;color:#eae5eb">Princing</td>
                </tr>
              </thead>
              <tbody>
                <tr class="animated fadeIn">

                  <td width="" class="remove_all_lines text-left py-1">MSRP Price:</td>
                  <td width="" class="remove_all_lines text-left py-1">{{home.price | currency}}</td>
                </tr>

                <tr class="animated fadeIn">

                  <td width="" class="remove_all_lines text-left py-1">TTL Fees:</td>
                  <td width="" class="remove_all_lines text-left py-1">$ 0</td>
                </tr>

                <tr class="animated fadeIn">

                  <td width="" class="remove_all_lines text-left py-1">Escrow Tax:</td>
                  <td width="" class="remove_all_lines text-left py-1">$ 0</td>
                </tr>

                <tr class="animated fadeIn">

                  <td width="" class="remove_all_lines text-left py-1">Escrow Insurance:</td>
                  <td width="" class="remove_all_lines text-left py-1">$ 0</td>
                </tr>

              </tbody>
            </table>
          </div>

          <hr style="width: 90% !important">

          <!-- Total Price -->
          <div class="col-12" *ngIf="home">
            <table style="border: transparent" class="table table-bordered table-striped animated fadeIn b-0 mb-0">
              <tbody>
                <tr class="animated fadeIn">

                  <td width="" class="remove_all_lines text-left" style="vertical-align: middle;">Total Price:</td>
                  <td width="" class="remove_all_lines text-center" style="font-size: 28px;">{{home.price | currency}}</td>
                </tr>

              </tbody>
            </table>
          </div>

          <!-- Order Home -->
         

        </div>
      </mat-tab>
      <mat-tab label="Documentation">
        <div class="container p-0">

        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</tc-card>
