


::ng-deep .input, button, select, optgroup, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}


.fa.fa-spinner.fa-spin.fa-3x {
  color: #0d5fa1 !important;
}

.spinnerText {
  color: #0d5fa1 !important;
}

.borderTittle-table {
  border-bottom: 2px solid #68b7f6 !important;
}
