<div class="row w-100 m-0 menuTitle3Div animated fadeIn">
  <div class="col-xl-6 col-lg-9 col-md-8">
    <div class="title2 t-3">Inventory</div>
  </div>


  <!--<div class="col-6 col-md-3 text-right pr-0">
    <select class="custom-select rounded" [(ngModel)]="estadoSelected" name="estadoSelected"
            (change)="changePage(1)" placeholder="select">
      <option [ngValue]="null" style="display:none;"> Used Status </option>
      <option [ngValue]="product" *ngFor="let product of estados">{{product.label}}</option>
    </select>
  </div>-->

  <div class="col-6 col-md-3 text-right pr-0">
    <select class="form-control font-filtro rounded" [(ngModel)]="estadoSelected" name="estadoSelected"
            (change)="changePage(1)" placeholder="select">
      <option [ngValue]="null" style="display:none;"> Used Status </option>
      <option [ngValue]="product" *ngFor="let product of usedStatusList">{{product.name}}</option>
    </select>
  </div>


  <div class="col-6 col-md-3 text-right pr-0">
    <select class="form-control font-filtro rounded" [(ngModel)]="estadoSelected2" name="estadoSelected"
            (change)="changePage(1)" placeholder="select">
      <option [ngValue]="null" style="display:none;"> Available Status </option>
      <option [ngValue]="product" *ngFor="let product of availableStatusList">{{product.name}}</option>
    </select>
  </div>

</div>

<div class="row animated fadeIn" *ngIf="cargando">

  <div class="col-sm-12">

    <div class="alert alert-warning text-center">
      <br>
      <i class="fa fa-spinner fa-spin fa-3x"></i>
      <br>
      <strong class="spinnerText">Loading</strong>
    </div>
  </div>
</div>

<div class="pl-3 pr-3" *ngIf="!cargando">
  <div class="table-responsive p-0 bg-aosp-info rounded scroll square scrollbar-dusty-grass square thin">
    <table class="table table-bordered table-striped animated fadeIn b-0 mb-0">
      <thead>
        <tr class="borderTittle-table">

          <td scope="col" class="text-center text-nowrap">Location</td>
          <td scope="col" class="text-center text-nowrap">Make</td>
          <td scope="col" class="text-center text-nowrap">Model</td>
          <td scope="col" class="text-center text-nowrap">Serial #</td>
          <td scope="col" class="text-center text-nowrap">HUD #</td>
          <td scope="col" class="text-center text-nowrap">Box Size</td>
          <td scope="col" class="text-center text-nowrap">Sq Ft</td>
          <td scope="col" class="text-center text-nowrap">Bed</td>
          <td scope="col" class="text-center text-nowrap">Bath</td>
          <td scope="col" class="text-center text-nowrap">W.Zone</td>
          <td scope="col" class="text-center text-nowrap">MSRP Price</td>
          <td scope="col" class="text-center text-nowrap">Status</td>
          <td scope="col" class="text-center text-nowrap">Est. Offine</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of inventory;" class="animated fadeIn">

          <td width="" class="remove_lines text-center">{{product.productLot?.lot.storage.store.name}} - {{product.productLot?.lot.storage.name}} {{product.productLot?.lot.lotNameId}}</td>
          <td width="" class="remove_lines text-center">{{product.manufacturer.shortName}}</td>
          <td width="" class="remove_lines text-center">{{product.name}}</td>
          <td width="" class="remove_lines text-center">{{product.serialNum}}</td>
          <td width="" class="remove_lines text-center">{{product.hudNum}}</td>
          <td width="" class="remove_lines text-center">{{product.boxLong}}X{{product.boxWide}}</td>
          <td width="" class="remove_lines text-center">{{product.sqft}}</td>
          <td width="" class="remove_lines text-center">{{product.bed}}</td>
          <td width="" class="remove_lines text-center">{{product.bath}}</td>
          <td width="" class="remove_lines text-center">{{product.windZone}}</td>
          <td width="" class="remove_lines text-center"> {{product.price | currency}}</td>
          <td width="100" class="remove_lines text-center">
            <div>
              <tc-badge class="w-100" [size]="'md'" [view]="pipeStatus(product.productInvAvStatus.name)">
                <span class="nowrap">{{product.productInvUsedStatus.name}} / {{product.productInvAvStatus.name}}</span>
              </tc-badge>
            </div>

          </td>
          <td width="" class="remove_lines text-center">{{product.estOffline | date:'MM/dd/y'}}</td>
        </tr>

      </tbody>
    </table>
  </div>
  <div class="d-flex justify-content-between mt-3">
    <ngbd-pagination-advanced [totalItems]='totalPages' [page]="currentPage" (pageChanged)="changePage($event)"></ngbd-pagination-advanced>

    <select class="form-control font-filtro" style="width: auto" [(ngModel)]="pageSize" (change)="changePageSize()">
      <option [ngValue]="5">5 items per page</option>
      <option [ngValue]="10">10 items per page</option>
      <option [ngValue]="50">50 items per page</option>
    </select>
  </div>

</div>
