<!--PRIMER PANTALLA-->
<!--Top Widgets-->
<app-widgets></app-widgets>

<!-- Lead Table -->
<app-lead-table></app-lead-table>

<!-- Promo Homes Table -->
<app-promo-houses></app-promo-houses>

<!-- Calendario -->
<app-weekly-calendar></app-weekly-calendar>

<!-- Team Task - Pending Task -->
<app-task></app-task>

<!--Graficas-->
<app-graficas></app-graficas>

<!-- Total Gross Profit -->
<app-total-gross-profit></app-total-gross-profit>

<!--Inventory-->
<app-inventory></app-inventory>


<!-- Pending RSO -->
<app-pending-rso></app-pending-rso>

<!--Home Delivery-->
<app-home-delivery></app-home-delivery>


<!-- Weekly Metrics -->
<app-weekly-metrics></app-weekly-metrics>



