

  <div class="col-12 col-xl-12 col-md-12 col-lg-12 my-5">


    <div class="row">


      <div class="col-12 col-md-12 col-lg-4 col-xl-4 ">
        <div class="titleText text-center">
          2018 San Pedro

        </div>
        <div>
          <img src="\assets\img\home1.png" style="width: auto; height: 257.3px;" />
        </div>

        <div class="row my-3">
          <div class="col-xl-6">
            <button type="button" class="homeBtn btn btn-primary">VIRTUAL TOUR</button>
          </div>
          <div class="col-xl-6">
            <button type="button" class="homeBtn btn btn-primary">FLOORPLAN</button>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-12 col-lg-4 col-xl-4 ">
        <div class="titleText text-center">
          2018 San Pedro

        </div>
        <div>
          <img src="\assets\img\home1.png" style="width: auto; height: 257.3px;" />
        </div>

        <div class="row my-3">
          <div class="col-xl-6">
            <button type="button" class="homeBtn btn btn-primary">VIRTUAL TOUR</button>
          </div>
          <div class="col-xl-6">
            <button type="button" class="homeBtn btn btn-primary">FLOORPLAN</button>
          </div>
        </div>
      </div>


      <div class="col-12 col-md-12 col-lg-4 col-xl-4 my-2">
        <div class="titleText text-center">
          2018 San Pedro

        </div>
        <div>
          <img src="\assets\img\home1.png" style="width: auto; height: 257.3px;" />
        </div>

        <div class="row my-3">
          <div class="col-xl-6">
            <button type="button" class="homeBtn btn btn-primary">VIRTUAL TOUR</button>
          </div>
          <div class="col-xl-6">
            <button type="button" class="homeBtn btn btn-primary">FLOORPLAN</button>
          </div>
        </div>
      </div>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Compare
          </mat-panel-title>

        </mat-expansion-panel-header>
        <div class="row my-4">
          <div class="col-12 col-md-12 col-lg-4 col-xl-4 px-4">
            <div>
              <div class="titleText text-left" style="color:#eae5eb">
                Home Details
              </div>
              <div class="text-left">
                <h3 class="subitulo">Location</h3>
                <p class="parrafo">Pearland-South Entrance</p>
              </div>


              <div>
                <h3 class="subitulo">Base Price</h3>
                <p class="parrafo">$ 47,829</p>
              </div>


              <div>
                <h3 class="subitulo">Details</h3>
                <p class="parrafo">
                  Textured and painted drywall interiors, cathedral ceilings throughout, custom designed cabinetry, beautiful countertops and tile backsplashes,
                  fiberglass tub/showers
                </p><hr />
              </div>

              <div>
                <h3 class="subitulo">Add-Ons</h3>
                <p class="parrafo">
                  Kitchen Countertop
                </p>
                <p class="parrafo">
                  Appliances
                </p><hr />
              </div>

              <div style="display: inline-flex;">
                <h3 class="subitulo">Total Price</h3>
                <p class="parrafo">
                  <a class="mx-4" style="font-size:28px"> $47,879</a>
                </p>

              </div>

            </div>
          </div>


          <div class="col-12 col-md-12 col-lg-4 col-xl-4 px-4">
            <div>
              <div class="titleText text-left" style="color:#eae5eb">
                Home Details
              </div>
              <div class="text-left">
                <h3 class="subitulo">Location</h3>
                <p class="parrafo">Pearland-South Entrance</p>
              </div>


              <div>
                <h3 class="subitulo">Base Price</h3>
                <p class="parrafo">$ 47,829</p>
              </div>


              <div>
                <h3 class="subitulo">Details</h3>
                <p class="parrafo">
                  Textured and painted drywall interiors, cathedral ceilings throughout, custom designed cabinetry, beautiful countertops and tile backsplashes,
                  fiberglass tub/showers
                </p><hr />
              </div>

              <div>
                <h3 class="subitulo">Add-Ons</h3>
                <p class="parrafo">
                  Kitchen Countertop
                </p>
                <p class="parrafo">
                  Appliances
                </p><hr />
              </div>

              <div style="display: inline-flex;">
                <h3 class="subitulo">Total Price</h3>
                <p class="parrafo">
                  <a class="mx-4" style="font-size:28px"> $47,879</a>
                </p>

              </div>

            </div>
          </div>



          <div class="col-12 col-md-12 col-lg-4 col-xl-4 px-4">
            <div>
              <div class="titleText text-left" style="color:#eae5eb">
                Home Details
              </div>
              <div class="text-left">
                <h3 class="subitulo">Location</h3>
                <p class="parrafo">Pearland-South Entrance</p>
              </div>


              <div>
                <h3 class="subitulo">Base Price</h3>
                <p class="parrafo">$ 47,829</p>
              </div>


              <div>
                <h3 class="subitulo">Details</h3>
                <p class="parrafo">
                  Textured and painted drywall interiors, cathedral ceilings throughout, custom designed cabinetry, beautiful countertops and tile backsplashes,
                  fiberglass tub/showers
                </p><hr />
              </div>

              <div>
                <h3 class="subitulo">Add-Ons</h3>
                <p class="parrafo">
                  Kitchen Countertop
                </p>
                <p class="parrafo">
                  Appliances
                </p><hr />
              </div>

              <div style="display: inline-flex;">
                <h3 class="subitulo">Total Price</h3>
                <p class="parrafo"> <a class="mx-4"style="font-size:28px"> $47,879</a>
                </p>
            
              </div>

            </div>
          </div>
        </div>
        <mat-action-row>
          
        </mat-action-row>
      </mat-expansion-panel>
    </div>

  </div>





